:host {
    display: flex;
    padding: 52px 0
}

.image-container {
 display: flex;
 align-items: center;
 border-radius: 10px;
}

.image-container, .banner-image {
max-width: 100%;
   overflow: hidden;

}

.banner-image {
object-fit: cover;
}

.text-container {
    display: flex;
    flex-direction: column;
    padding: 35px;
}

.text {
    margin-bottom: 20px
}

  @media screen and (max-width: 374px) {
    :host {
    display: flex;
    flex-direction: column-reverse;
}

}
