:host {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.image-container {
 max-height: 300px;
 display: flex;
 align-items: center;
}

.image-container, .banner-image {
max-width: 100%;
   overflow: hidden;
}

.banner-image {
object-fit: cover;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--color-white);
    padding: 35px;
    background: var(--gradient-new);
}
