<div class="image-container">
<img src="/personalizador-banner-image.webp" alt="letrero-neon-personalizado" class="banner-image">
</div>

<div class="text-container">
<p class="small-title blue-line">¿Quieres verlo antes?</p>
<h4 class="blue left">Customiza en línea</h4>
<p class="text left">Si quieres ver cómo queda tu idea antes de pedir tu rótulo, elige color y letras y previsualiza tu encargo.</p>
<app-button [buttonText]="'Crear'" [ngClass]="'left'"  [buttonLink]="'/letreros-neon/frases-neon'"></app-button>
</div>
