<form
  #redsysForm
  [action]="redirectUrl"
  method="POST"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>

  <fieldset>
  <legend class="form-subtitle fuchsia">Datos de contacto</legend>

  <div>
    <input
      class="form-field"
      placeholder="Nombre y apellidos"
      type="text"
      id="name"
      formControlName="name"
      [attr.aria-describedby]="
        form.get('name')?.touched && form.get('name')?.hasError('required')
          ? 'name-error'
          : null
      "
    />
    <input
      class="form-field"
      placeholder="Empresa (opcional)"
      type="text"
      id="empresa"
      formControlName="empresa"
    />
  </div>
  @if (form.get("name")?.touched && form.get("name")?.hasError("required")) {
    <p class="error-message" id="name-error">El nombre es obligatorio.</p>
  }

  <div>
    <input
      class="form-field"
      placeholder="Correo electrónico"
      type="email"
      id="email"
      formControlName="email"
      [attr.aria-describedby]="
        form.get('email')?.touched && form.get('email')?.errors?.['required']
          ? 'email-error'
          : form.get('email')?.dirty && form.get('email')?.errors?.['email']
            ? 'email-invalid'
            : null
      "
    />
    <input
      class="form-field"
      placeholder="Teléfono"
      type="text"
      id="phone"
      formControlName="phone"
      [attr.aria-describedby]="
        form.get('phone')?.touched && form.get('phone')?.hasError('required')
          ? 'phone-error'
          : null
      "
    />
  </div>

  @if (form.get("email")?.touched && form.get("email")?.hasError("required")) {
    <p class="error-message" id="email-error">
      El correo electrónico es obligatorio.
    </p>
  } @else if (
    form.get("email")?.dirty && form.get("email")?.errors?.["email"]
  ) {
    <p class="error-message" id="email-invalid">
      El correo electrónico no es válido. Por favor, revísalo.
    </p>
  }
  @if (form.get("phone")?.touched && form.get("phone")?.hasError("required")) {
    <p class="error-message" id="phone-error">El teléfono es obligatorio.</p>
  }
</fieldset>

  <fieldset>
  <legend class="form-subtitle green">Dirección de envío</legend>

  <input
    class="form-field"
    placeholder="Dirección"
    type="text"
    id="address"
    formControlName="address"
    [attr.aria-describedby]="
      form.get('address')?.touched && form.get('address')?.hasError('required')
        ? 'address-error'
        : null
    "
  />
  @if (
    form.get("address")?.touched && form.get("address")?.hasError("required")
  ) {
    <p class="error-message" id="address-error">La dirección es obligatoria.</p>
  }

  <div>
    <input
      class="form-field"
      placeholder="Código Postal"
      type="text"
      id="cp"
      formControlName="cp"
      [attr.aria-describedby]="
        form.get('cp')?.touched && form.get('cp')?.hasError('required')
          ? 'cp-error'
          : null
      "
    />
    <input
      class="form-field"
      placeholder="Ciudad"
      type="text"
      id="ciudad"
      formControlName="ciudad"
      [attr.aria-describedby]="
        form.get('ciudad')?.touched && form.get('ciudad')?.hasError('required')
          ? 'ciudad-error'
          : null
      "
    />
    <input
      class="form-field"
      placeholder="Provincia"
      type="text"
      id="provincia"
      formControlName="provincia"
      [attr.aria-describedby]="
        form.get('provincia')?.touched &&
        form.get('provincia')?.hasError('required')
          ? 'provincia-error'
          : null
      "
    />
  </div>
  @if (form.get("cp")?.touched && form.get("cp")?.hasError("required")) {
    <p class="error-message" id="cp-error">El código postal es obligatorio.</p>
  }

  @if (
    form.get("ciudad")?.touched && form.get("ciudad")?.hasError("required")
  ) {
    <p class="error-message" id="ciudad-error">La ciudad es obligatoria.</p>
  }

  @if (
    form.get("provincia")?.touched &&
    form.get("provincia")?.hasError("required")
  ) {
    <p class="error-message" id="provincia-error">
      La provincia es obligatoria.
    </p>
  }
</fieldset>

  <input type="hidden" name="Ds_SignatureVersion" [value]="signatureVersion" />
  <input
    type="hidden"
    name="Ds_MerchantParameters"
    [value]="merchantParameters"
  />
  <input type="hidden" name="Ds_Signature" [value]="signature" />
  <button type="submit" class="button" [disabled]="form.invalid">
    Pagar ahora
  </button>
</form>
