<main class="category-page">
  @if (categorySelectedData) {
  <section class="centered-section">
    <h1 class="title centered-text">{{ categorySelectedData.name }}</h1>
      @if (pdfCatalogueVisible) {
<app-filter-buttons [filterParam]="'light'" [itemSelected]="itemSelected" (itemSelectedUpdate)="onItemSelectedChange($event)"></app-filter-buttons>
        }

<ul class="products-list">

        @for (product of productsShown$ | async ; track product._id) {
        
  <li class="product-card">
      <a [routerLink]="[`/${categorySelectedData.slug}/${product.slug}`]">
    <app-card [product]="product"></app-card>
</a>
</li>
}
      </ul>

  </section>

   @if (pdfCatalogueVisible) {
  <section class="catalogue-section dark-section full-width-section">
    <app-download-catalogue></app-download-catalogue>
  </section>
  }

  <section class="category-text-section">
    <ul class="advantages-list centered-text">
      <li>
        <h2 class="subtitle orange">
          ¿Cuándo elegir {{ categorySelectedData.name }}?
        </h2>
        <p>{{ categorySelectedData.description.application }}</p>
      </li>
      <li>
        <h2 class="subtitle fuchsia">Tipos de {{ categorySelectedData.name }}</h2>
        <p>{{ categorySelectedData.description.products }}</p>
      </li>
      <li>
        <h2 class="subtitle green">
          ¿Se puede personalizar?
        </h2>
        <p>{{ categorySelectedData.description.custom }}</p>
      </li>
      <li>
        <h2 class="subtitle blue">
          ¿Cuánto cuesta?
        </h2>
        <p>{{ categorySelectedData.description.cost }}</p>
      </li>
    </ul>
  </section>

  }
</main>
