.category-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.category-text-section {
padding-top: 0;
}


 @media screen and (max-width: 931px) {
.catalogue-section {
    width: 100%;
          padding-bottom: 0;
}
}