:host {
     color: var(--color-white);
      transition: color 0.3s ease;
} 

:host:hover {
   color: var(--color-black)
}

 .icon-svg {
     height: 28px;
     display: flex;
     fill: currentColor;
  }

  .icon-svg path {
  stroke: currentColor;
  stroke-width: 40;
  fill: none;
}

.button-svg {
   height: 48px;
   display: flex;
}

.button-svg path {
  fill: currentColor;
}
