 .cards-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 90vw
  }

   .cards-list {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .product-card {
    max-width: 250px;
    min-height: 349px;
}

.card-figure {
  transition: var(--smooth-scale);
  box-shadow: var(--black-shadow);
  border-radius: 10px;
  max-width: 353px;
}

.card-figure:hover {
  transform: var(--hover-scale);
  box-shadow: var(--blue-shadow);
  cursor: pointer;
}
  
  .card-image {
    object-fit: cover;
   width: 100%; 
  }

  .category-card {
  position: relative;
}


  .category-card >  .card-image {
 height: 100%;
 border-radius: 10px;
} 



  .category-card > .element-title {
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-white);
    text-shadow: var(--black-shadow)
  }

  .product-card {
    overflow: hidden;
    margin: 10px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
  }

  .product-card > .element-title {
    margin: auto;
    max-width: 100%
  }

  @media screen and (max-width: 766px) {
    .cards-grid > .product-card {
      max-width: 320px;
  }
  
       }