 .cards-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

   .cards-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

.card-figure {
  transition: var(--smooth-scale);
  box-shadow: var(--black-shadow);
  border-radius: 10px;
   max-width: 300px;
}

.card-figure:hover {
  transform: var(--hover-scale);
  box-shadow: var(--blue-shadow);
  cursor: pointer;
}
  
  .card-image {
    object-fit: cover;
   width: 100%; 
  }

  .product-card {
    overflow: hidden;
    margin: 10px;
    display: flex;
    flex-direction: column;
  }

  .product-card > .element-title {
    margin: auto;
    max-width: 100%
  }

  @media screen and (max-width: 766px) {
    .cards-grid > .product-card {
      max-width: 320px;
  }
  }