<main class="admin-panel-main centered-main">
   
    <section>
        <div class="title-and-add-button">
    <h2 class="subtitle">Productos</h2>

     <svg role="button" (click)="openNewProductModal()"
              xmlns="http://www.w3.org/2000/svg" 
              aria-hidden="true" viewBox="0 0 640 640">
              <path [attr.d]="plusPath"></path></svg>  

    </div>
    <app-elements-list [elements]="products$ | async"
    (updateProductModalIsOpenState)="onUpdateProductModalStateChange($event)"
    (productDeleted)="updateProducts()"
(updateEditableElement)="updateEditableElement($event)"
    ></app-elements-list>
    </section>

    <div *ngIf="newProductModalIsOpen" class="modal-overlay">
    <section  class="modal-section">
    
        <app-new-product-modal 
        [newProductModalIsOpen]="newProductModalIsOpen" 
        (newProductModalIsOpenState)="onNewProdModalStateChange($event)"
        (productAdded)="updateProducts()" 
        ></app-new-product-modal>
    
    </section>
</div>

  <div *ngIf="updateProductModalIsOpen" class="modal-overlay">
     <section  class="modal-section">
            <app-edit-product-modal 
            (updateProductModalIsOpenState)="onUpdateProductModalStateChange($event)"
            [updateProductModalIsOpen]="updateProductModalIsOpen" 
            [editableElement]="editableElement"
           (categoryUpdated)="updateProducts()" 
             ></app-edit-product-modal>
           
    </section>
    </div>

    </main>

