<form  #newCategoryForm="ngForm"  (submit)="onSubmit(); newCategoryForm.resetForm()"> 
   
    <input
    class="form-field"
      placeholder="Nombre de la nueva categoría"
      type="text"
      id="name"
      name="name"
      required
      [(ngModel)]="newCategoryData.name"
      #nameField="ngModel"
    />
    <p
      *ngIf="nameField.touched && nameField.errors?.['required']"
      class="error-message"
    >
      Por favor, introduce un nombre para el nuevo elemento.
    </p>
    <p
      *ngIf="nameField.invalid && nameField.dirty && nameField.errors?.['existingName']"
      class="error-message"
    >
      Ya existe un elemento con este nombre. Por favor, introduce un nombre distinto.
    </p>

  

    <input
    class="form-field"
    placeholder="slug-nueva-categoría"
    type="text"
    id="slug"
    name="slug"
    required
    [(ngModel)]="newCategoryData.slug"
    #slugField="ngModel"
  />
  <p
    *ngIf="slugField.touched && slugField.errors?.['required']"
    class="error-message"
  >
    Por favor, introduce un slug para el nuevo elemento. Puedes utilizar el nombre del elemento reemplazando los espacios por guiones.
  </p>
  <p
    *ngIf="slugField.invalid && slugField.dirty && slugField.errors?.['existingSlug']"
    class="error-message"
  >
    Ya existe un elemento con este slug. Por favor, introduce un slug distinto.
  </p>

 
  <label for="application">¿Cuándo elegir este nuevo tipo de rótulo?</label>
<app-rich-text
name="application" 
[(ngModel)]="newCategoryData.description.application"
required  
  id="application" 
  #applicationField="ngModel"
  >
</app-rich-text>

  <label for="products">Describe los tipos de producto que incluye la categoría (exterior/interior, empotrable/superficiee, etc.)</label>
<app-rich-text
name="products" 
[(ngModel)]="newCategoryData.description.products"
required  
  id="products" 
  #productsField="ngModel"
  >
</app-rich-text>

<label for="custom"> ¿Se pueden personalizar los rótulos de la nueva categoría?</label>
<app-rich-text
name="custom" 
[(ngModel)]="newCategoryData.description.custom"
required  
  id="custom" 
  #customField="ngModel"
  >
</app-rich-text>

 
<label for="cost">¿Cuánto cuesta este nuevo tipo de rótulos?</label>
<app-rich-text
name="cost" 
[(ngModel)]="newCategoryData.description.cost"
required  
  id="cost" 
  #costField="ngModel"
  >
</app-rich-text>


<textarea
class="form-field"
  placeholder="Meta descripción para SEO (106-141 caracteres)"
  id="metaDescription"
  name="metaDescription"
  required
  [(ngModel)]="newCategoryData.description.metaDescription"
  #metaDescriptionField="ngModel"
></textarea>
 <p
  *ngIf="metaDescriptionField.touched && metaDescriptionField.errors?.['required']"
  class="error-message"
>
  Campo obligatorio. 
</p>

<div class="buttons-container">
<button class="button"  (click)="closeNewCategoryModal()" type="submit" [disabled]="newCategoryForm.invalid">Añadir</button>
<button class="button"  type="button" (click)="closeNewCategoryModal()">Cancelar</button>
</div>
</form>