<ul class="elements-list">
    <li class="list-element" *ngFor="let element of elements" >
        <img class="list-element-image" [src]="imagePrefix+getSrcImage(element)" [alt]="getSrcImage(element) | alt" />
         <h3 class="list-element-name" >{{ element.name }}</h3>        
          <div class="edit-delete-buttons">
         <button class="edit-delete-button" (click)="openEditElementModal(element)">
             <app-icon [iconPath]="pencilPath"></app-icon>
         </button>
         <!-- <button class="edit-delete-button" (click)="onDeleteElement(element)"><i class="fa-solid fa-trash-can"></i></button> -->
          <button class="edit-delete-button" (click)="onDeleteElement(element)">
              <app-icon [iconPath]="binPath"></app-icon>
            </button>
        </div>
      </li>
    </ul>