  <h2 class="orange">Resumen</h2>
  <ul class="items-list">
    @for(item of cartService.items(); track item.id) {
    <li class="item-row">
      <h4 class="item">{{item.qty}} {{ item.name }}</h4>
      @if(item.customDetails) {
      <p>Texto: {{item.customDetails.text}}, Fuente: {{item.customDetails.font}}, Color: {{item.customDetails.color}}, Altura de las letras: {{item.customDetails.size}} cm</p>
      <p>Opciones: Color luz: {{ item.customDetails.lightColor ? item.customDetails.lightColor : 'no seleccionado'}}, Base de aluminio: {{ item.customDetails.base ? item.customDetails.baseColor : 'no' }}
      </p>
      }
    </li>
    }
  </ul>
  <p class="price-shipment">Envío gratis</p>
  <p>TOTAL <span class="price">{{ cartService.totalPrice() | price }}</span></p>
