  <h2 class="orange">Resumen</h2>
  <ul class="items-list">
    @for(item of cartService.items(); track item.id) {
    <li class="item-row">
      <h4 class="item">{{item.qty}} {{ item.name }}</h4>
      @if(item.customDetails) {
      <p><b>Texto:</b> {{item.customDetails.text}} | Fuente: {{item.customDetails.font}}, Color: {{item.customDetails.color}} | Altura de las letras: {{item.customDetails.size}} cm</p>
      <p><b>Color luz:</b> {{ item.customDetails.lightColor ? item.customDetails.lightColor : 'no seleccionado'}}</p>
        <p><b>Base de aluminio:</b> {{ item.customDetails.base ? 'con base' : 'sin base' }}
        @if(item.customDetails.base) {
      <span>| Color y medidas de la base: {{ item.customDetails.baseColor }}, {{ item.customDetails.baseWidth }} x {{ item.customDetails.baseHeight }} cm</span>
      }
    </p>
      }
    </li>
    }
  </ul>

<div class="numbers-container">
<p>Subtotal <span> {{ cartService.totalPrice() | price }}</span></p>
<p>Envío <span> 7,00 €</span></p>
<p class="subtitle">TOTAL <span class="price">{{ cartService.totalPrice() + 700 | price }}</span></p>
</div>



