  <h2>Resumen</h2>
  <ul class="items-list">
    @for(item of cartService.items(); track item.id) {
    <li class="item-row">
      <h4 class="item">{{item.qty}} {{ item.name }}</h4>
      @if(item.customDetails) {
      <p>Texto: {{item.customDetails.text}}, Fuente: {{item.customDetails.font}}, Color: {{item.customDetails.color.name}}, Altura de las letras: {{item.customDetails.size}} cm</p>
      }
    </li>
    }
  </ul>
  <p>TOTAL <span class="price">{{ cartService.totalPrice() | price }}</span></p>
