<main class="centered-main">
    
<section>
    <h1 class="page-title centered-text">Learoy, especialistas en rotulación</h1>
@for(paragraph of paragraphs; track paragraph.title) {
<div class="about-paragraph">
<div class="paragraph-text">
<h2 class="subtitle">{{paragraph.title}}</h2>
@for(text of paragraph.text; track text) {
<p>{{text}}</p>
}

</div>
<img class="paragraph-image" loading="lazy" decoding="async" [src]="paragraph.image" [alt]="paragraph.image | alt">

</div>
}

           
        </section>
        <section class="social-media-section">
             <h2 class="subtitle centered-text">Sigue &#64;rotuloslearoy en Instagram y Tik Tok </h2>
         <app-social-media></app-social-media>
         </section>
  
        <app-contact-banner></app-contact-banner>
        </main>        

