.filter-buttons {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 18px
}

.filter-button {
    border: 1px solid var(--color-black);
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 18px;
    padding: 6px 12px;
    background: transparent;
    font-family: 'Roboto Mono', sans-serif
 }

  .filter-button:hover, .filter-button.active {
   color: var(--color-white);
   background-color: var(--color-black);
  }
  
  @media screen and (max-width: 766px) {
    .filter-buttons {
        gap: 8px;
        }

        .filter-button {
            font-size: 16px;
            padding: 3px 6px
         }
  }