.filter-buttons {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 18px
}

.filter-button {
    border: 1px solid var(--color-blue);
    background-color: transparent;
    border-radius: 6px;
    transition: border 0.3s ease;
    font-size: 18px;
    padding: 6px 12px;;
 }

  .filter-button:hover {
   border: 1px solid var(--color-fuchsia);
  }

  .filter-button.active {
    border: 1px solid var(--color-fuchsia);
  }
  
  @media screen and (max-width: 766px) {
    .filter-buttons {
        gap: 8px;
        }

        .filter-button {
            font-size: 16px;
            padding: 3px 6px
         }
  }