.filter-buttons {
display: flex;
flex-wrap: wrap;
gap: 18px;
justify-content: center;
}

.filter-button {
    background-color: var(--color-blue);
    color: var(--color-white);
    transition: transform 0.3s ease;
    border-radius: 6px;
    font-size: 18px;
    padding: 3px 8px;
    opacity: 0.7
 }

  .filter-button:hover {
    box-shadow: var(--black-shadow);
    opacity: 1
  }

  .filter-button.active {
    opacity: 1
  }
  
  @media screen and (max-width: 766px) {
    .filter-buttons {
        gap: 8px;
        }

        .filter-button {
            font-size: 16px;
            padding: 3px 6px
         }
  }