  <div class="preview-container">
<figure class="preview-figure">
<img class="ia-image" [src]="previewImage" alt="previsualizacion-rotulo-learoy">
<p class="ia-advice">Esta imagen ha sido generada por IA. El producto real puede variar ligeramente.</p>
</figure>    
</div>
<form  #previewForm="ngForm"  (submit)="onSubmit()" class="preview-form"> 
  <label for="text">Texto del rótulo:</label> 
     <input
      placeholder="Escribe aquí tu texto"
      class="form-field"
      type="text"
      id="text"
      name="text"
      required
      [(ngModel)]="previewData.text"
      #textField="ngModel"
    />
    @if(textField.touched && textField.errors?.['required']){
<p class="error-message">
      Por favor, introduce un texto para personalizar tu rótulo.
    </p>
    }
    
    <label for="font">Elige el diseño de letras:</label> 
     <div class="font-picker">
@for(font of materials[0].fonts; track font; let i = $index) {
    <input
      type="radio"
      [id]="'font-' + i"
      name="font"
      [value]="font"
      [(ngModel)]="previewData.font"
      hidden>

    <label
      [for]="'font-' + i"
      class="font-preview"
      [ngStyle]="{'font-family': font}"
       >{{font}}</label>
  }

     </div>
  
  <label for="color">Selecciona un color:</label> 

  <div class="color-picker">
  @for(color of materials[0].colors; track color; let i = $index) {
    <input
      type="radio"
      [id]="'color-' + i"
      name="color"
      [value]="color"
      [(ngModel)]="previewData.color"
      hidden>

    <label
      [for]="'color-' + i"
      class="color-circle"
      [style.background]="color"
       ></label>
  }
</div>

<label for="background" class="label">Elige un fondo:</label> 

  <div class="background-picker">
  @for(background of materials[0].backgrounds; track background; let i = $index) {
    <input
      type="radio"
      [id]="'background-' + i"
      name="background"
      [value]="background"
      [(ngModel)]="previewData.background"
      hidden>

    <label
      [for]="'background-' + i"
      class="background-square"
      [style.background-image]="'url(' + background + ')'"
       ></label>
  }
</div>
 
<!-- <select  class="form-field" name="color" id="color" 
 [(ngModel)]="previewData.color"
   #colorField="ngModel"
 required
>

        @for(color of colors; track color; let i = $index) {
        <option [value]="color">
        </option>
        }
</select> -->

<button class="button secondary-button" type="submit" [disabled]="previewForm.invalid">Vista previa</button>
</form>