@if(!hideCarouselPrevArrow) {
  <app-icon  [iconPath]="leftArrow" (click)="carouselPrevElements()"></app-icon>
}

<ul class="cards-list desktop-carousel">
        @for (product of productsShown; track product._id) {       
  <li class="product-card">
      <a [routerLink]="[`/${categorySlug}/${product.slug}`]">
    <app-card [product]="product"></app-card>
</a>
</li>
}
</ul>

<ul class="cards-list mobile-carousel">
        @for (product of products; track product._id) {       
  <li class="product-card">
      <a [routerLink]="[`/${categorySlug}/${product.slug}`]">
    <app-card [product]="product"></app-card>
</a>
</li>
}
</ul>



@if (products.length > 5 && !hideCarouselNextArrow) {
   <app-icon [iconPath]="rightArrow" (click)="carouselNextElements()"></app-icon>
}

<!-- <ul class="carousel-dots">
            <li class="carousel-dot" [class.active]="i === elementIndex" *ngFor="let category of categories; let i = index" (click)="carouselElementChange(i)"></li>
        </ul> -->
