<header>
  <div class="secondary-header">
  <p class="address"><i class="fa-solid fa-location-dot"></i>   {{contactDetails.address1}} - {{contactDetails.address2}}   </p>   
   <p class="phones"><i class="fa-solid fa-phone"></i>   {{contactDetails.phone}}</p>
   <p><i class="fa-solid fa-store"></i>   {{contactDetails.open}}</p>
  </div>
  
  
    <div class="main-header">
     
    <span aria-label="Abrir menú de navegación" class="burguer" (click)="openBurguer()">{{burguerIsOpen ? 'X': '☰'}}</span>
    <a class="logo" [routerLink]="['/']"
      ><img
        class="header-logo"
        src="/rotulos-learoy-logo.webp"
        alt="rotulos-learoy-logo"
    /></a>
    <app-search-input></app-search-input>
    <ul class="contact-buttons">
   <li><a class="call-button" aria-label="Llamar por teléfono" [href]="'tel:+34'+contactDetails.phone"><i aria-hidden="true" class="fa-solid fa-phone"></i></a></li>
  <li><a class="contact-button" aria-label="Ir a formulario de contacto" [routerLink]="['/contacto']"><i aria-hidden="true" class="fa-solid fa-envelope"></i></a></li>
  </ul>
</div>
  <app-navbar 
    [ngClass]="{ 'header-navbar': true, active: burguerIsOpen }"
    [burguerIsOpen]="burguerIsOpen" (burguerIsClose)="onBurguerStateChanged($event)" (showSubmenu)="showSubmenu()" 
    (hideSubmenu)="hideSubmenu()" 
    ></app-navbar>


  <app-submenu [submenuVisible]="submenuVisible" (mouseleave)="hideSubmenu()"></app-submenu>
  </header>
