header {
  position: fixed;
  z-index: 1000;
  background-color: var(--color-black);
}

 .secondary-header {
    height: 4vh;
    width: 100vw;
   background-color: var(--color-blue);
   color: var(--color-white);
     display: flex;
     align-items: center;
     justify-content: center;
  }

  .secondary-header p {
    text-align: center;
     font-size: 14px;
}

  .main-header {
  display: flex;
  align-items: center;
   justify-content: space-between; 
  height: 9vh;
  width: 100vw; 
  padding: 12px 76px;
}
   .logo, .logo > img {
    height: 100%;
  } 

.contact-buttons {
display: flex;
gap: 18px;
}

  .call-button, .contact-button {    
       margin: auto;
        display: flex;
  } 


  .burguer {
    display: none;
  }

  
  @media screen and (max-width: 766px) {
    .address {
      display: none;
    }

    .main-header {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .secondary-header {
      flex-direction: column;
      white-space: nowrap;
      width: 100vw;
      gap: 0;
      height: 4vh;
  }

  .burguer  {
    display: block;
    color: var(--color-white);  
     font-size: 26px;
    width: 40px
  }

  .header-navbar {
    display: none;
  }

  .header-navbar.active {
    display: flex;
  }

app-search-input {
 order: 3;
 margin-top: 22px;
}

}
  
  @media screen and (max-width: 580px) {
  .main-header {
    padding: 12px 0;
  }
  } 


  @media screen and (max-width: 850px) {
  .phones {
      display: none;
  }
   }