header {
  position: fixed;
  z-index: 1000;
  box-shadow:  2px 2px 4px lightgrey;
  background-color: white;
}

.main-header {
  display: flex;
  align-items: center;
   justify-content: space-between; 
  height: 9vh;
  width: 100vw; 
  padding: 12px 76px;
  background-color: var(--color-black);
}

  .fa-location-dot, .fa-phone, .fa-store {
padding: 0 8px
  }

  .secondary-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 4vh;
    font-size: 16px;
  }
  
   .logo, .logo > img {
    height: 100%;
  } 
  

.contact-buttons {
display: flex;
gap: 10px;
}

.contact-buttons > li {
  background-color: rgb(226, 226, 226, 0.1);
    border-radius: 50%;
    height: 48px;
    width: 48px;
    display: flex;
}

  .call-button, .contact-button {
       color: var(--color-white); 
       margin: auto;
  } 

  .contact-buttons > li:hover {
 box-shadow: var(--white-shadow); 
}

  .burguer {
    display: none;
  }

  
  @media screen and (max-width: 766px) {
    .address, .phones {
      display: none;
    }

    .main-header {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .secondary-header {
      flex-direction: column;
      white-space: nowrap;
      width: 100vw;
      gap: 0;
      height: 4vh;
  }

  .burguer  {
    display: block;
    color: var(--color-white);  
     font-size: 26px;
    width: 40px
  }

  .header-navbar {
    display: none;
  }

  .header-navbar.active {
    display: flex;
  }

app-search-input {
 order: 3;
 margin-top: 22px;

}

}
  
  @media screen and (max-width: 580px) {
  .main-header {
    padding: 12px 0;
  }
  } 