header {
  position: fixed;
  z-index: 1000;
  box-shadow:  2px 2px 4px lightgrey
}

.main-header-desktop, .main-header-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9vh;
  width: 100vw; 
  background-color: var(--color-black);
  
}

.main-header-desktop {
    padding: 12px 76px;
   
  }


  .fa-location-dot, .fa-phone, .fa-store {
padding: 0 8px
  }

  .secondary-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 4vh;
    background-color: var(--color-white);
    font-size: 16px;
  }
  
   .logo {
    height: 100%;
  } 
  
  .logo > img {
    height: 100%;
    padding: 12px 0
  }


  .burguer, .call-button-mobile {
    display: none;
  }

  
  @media screen and (max-width: 766px) {
/* aplicar a un texto que añada con rótulos personalizados llama ya
    @keyframes moveText {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%);
      }
    } */

    .address, .phones {
      display: none;
    }

    .main-header-desktop {
      justify-content: space-between;
      padding: 8px 16px;
    }

    .secondary-header {
      flex-direction: column;
      white-space: nowrap;
      width: 100vw;
      gap: 0;
      height: 4vh;
  }

  .burguer, .call-button-mobile {
    display: block;
    color: var(--color-white);  
  }

  .burguer {
    font-size: 26px;
    width: 40px
  }

  .call-button-mobile {
    border-style: solid;
    border-color: var(--color-white);
border-radius: 50%;
padding: 6px 3px;
border-width: 1.5px;
  }

  .header-navbar {
    display: none;
  }

  .header-navbar.active {
    display: flex;
    /* flex-direction: column;
    gap: 60px;
    position: absolute;
    top: 75px;
    right: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;
    background-color: var(--color-black);
    color: var(--color-white); */
  }
}
  