<main class="main-policy-page">
    <div class="texts-policy-page">
        <h1 class="page-title centered-text">Política de privacidad</h1>

        <p>La presente política de privacidad regula el tratamiento que hace {{contactDetails.shortName}} de los datos de los usuarios de este Sitio Web (en adelante, el Sitio Web).</p>

        <h2 class="element-title policy-title">Responsable del tratamiento de datos y delegado de protección de datos</h2>
            <ul>
            <li>Denominación social: {{contactDetails.longName}} (en adelante, {{contactDetails.shortName}})</li>
            <li>Domicilio social y dirección postal: {{contactDetails.address1}} - {{contactDetails.address2}}</li>
            <li>Dirección de correo electrónico: {{contactDetails.email}}</li>
            <li>Código de Identificación Fiscal: {{contactDetails.cif}}</li>
        </ul>
       <p>Para cualquier cuestión relacionada con protección de datos personales, puedes contactar con {{contactDetails.shortName}} en su dirección postal o en {{contactDetails.email}}.</p>


       <h2 class="element-title policy-title">Tipo de datos que tratamos</h2>
       <ul>     
        <li>Datos sobre el uso que realizas de este Sitio Web.</li>
        <li>Datos identificativos y de contacto</li>
        <li>Información profesional</li>
       </ul>
	<p>Dicha información es necesaria para cumplir con las finalidades que se describen en el siguiente apartado.</p>

    <h2 class="element-title policy-title">Finalidad del tratamiento de datos</h2>
<p>La información recopilada en el Sitio Web únicamente será utilizada para mejorar la experiencia de los usuarios del Sitio Web y responder a sus consultas o informarles sobre nuestros productos y servicios.</p>

<h2 class="element-title policy-title">Legitimazión para el tratamiento de datos</h2>
<p>La base legal para el tratamiento de tus datos es tu consentimiento mediante la aceptación del uso de cookies o mediante el envío de una consulta a través de un formulario de contacto.</p>

<h2 class="element-title policy-title">Plazo de conservación de los datos</h2>
<p>Los datos personales se conservan durante el plazo que dura la relación informativa. Los datos de carácter no personal se conservan durante el período de conservación de cada cookie.</p>

<h2 class="element-title policy-title">Cesión de datos a terceros</h2>
<p>{{contactDetails.shortName}} no cede datos personales a terceros. Unicamente cede datos de carácter no personal a terceros mediante la aceptación del uso de cookies tal y como se informa en nuestra Política de cookies.</p>

<h2 class="element-title policy-title">Derechos de protección de datos</h2>
<p>Puedes ejercer tu derecho de acceso, rectificación, portabilidad, cancelación y limitación del tratamiento, así como oponerte al mismo enviando una solicitud por escrito a {{contactDetails.address1}} - {{contactDetails.address2}} o a {{contactDetails.address1}} - {{contactDetails.email}}</p>
<p>También tienes derecho a presentar una reclamación ante la Autoridad de Control: la Agencia Española de Protección de Datos (www.agpd.es).</p>

<h2 class="element-title policy-title">Modificaciones en esta política</h2>
<p>Es posible que actualicemos la Política de privacidad de nuestro Sitio Web periódicamente. Por ello, te recomendamos revisar esta política cada vez que accedas a nuestro Sitio Web con el objetivo de estar adecuadamente informado sobre cómo y para qué utilizamos tus datos.
</p>

    <p>Esta Política de privacidad ha sido modificada el 17 de febrero de 2025.</p>
    </div>
</main>
