<main class="main-policy-page">
    <div class="texts-policy-page">
        <h1 class="page-title centered-text">Aviso legal</h1>
        El presente aviso legal regula el uso del Sitio Web accesible en {{contactDetails.url}} (en adelante, el “Sitio Web”) de {{contactDetails.shortName}}.
        <h2 class="element-title policy-title">Titular del Sitio Web</h2>

<p>{{contactDetails.longName}} con los siguientess datos fiscales:</p>
<ul>
    <li>Denominación social: {{contactDetails.longName}} (en adelante, {{contactDetails.shortName}})</li>
    <li>Domicilio social y dirección postal: {{contactDetails.address1}} - {{contactDetails.address2}}</li>
    <li>Dirección de correo electrónico: {{contactDetails.email}}</li>
    <li>Código de Identificación Fiscal: {{contactDetails.cif}}</li>
</ul>
<p>Si quieres contactar con {{contactDetails.shortName}} puedes hacerlo en su dirección postal o en {{contactDetails.email}}, incluso para cualquier cuestión relacionada con protección de datos personales.</p>


<h2 class="element-title policy-title">Uso y acceso de usuarios</h2>
<p>Es usuario del Sitio Web (en adelante, el “Usuario”) toda persona que accede, navega o de cualquier otro modo interactúa en el Sitio Web.</p>
<ul>Ser Usuario implica la aceptación, sin reservas, de los siguientes documentos obligatorios, todos los cuales se incorporan, por referencia, en este aviso legal:
<li>Política de privacidad, accesible en https://rotuloslearoy.com/politica-de-privacidad</li>
<li>Política de cookies, accesible en https://rotuloslearoy.com/politica-de-cookies</li>
</ul>


<h2 class="element-title policy-title">Propiedad intelectual e industrial del Sitio Web y sus elementos</h2>
<p>Los derechos de propiedad intelectual del contenido de las páginas web, su diseño gráfico y códigos son titularidad de {{contactDetails.shortName}} y, por tanto, queda prohibida su reproducción, distribución, comunicación pública, transformación o cualquier otra actividad que se pueda realizar con los contenidos de sus páginas web ni aún citando las fuentes, salvo consentimiento por escrito de {{contactDetails.shortName}}.</p>



<h2 class="element-title policy-title">Legislación aplicable y jurisdicción</h2>
<p>Con carácter general, la interpretación y ejecución de este aviso legal así coomo las relaciones entre {{contactDetails.shortName}} y los usuarios de sus servicios telemáticos, presentes en el Sitio Web, se encuentran sometidas a la legislación y jurisdicción españolas.</p>

<p>Este Aviso legal ha sido modificado el 17 de febrero de 2025.</p>
    </div>
</main>
