:host { 
    position:fixed;
    right: 15px;
    bottom: 15px;
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none
    }
    
    :host.visible { 
      opacity: 0.7;
      pointer-events: all
      }

      :host:hover { 
        opacity: 1;
        }
      
    .fa-arrow-up {
      display: block;
      border:2px solid var(--color-purple);
        padding: 10px;
        height: 50px;
        color: var(--color-purple);
        transition: background-color 0.3s ease, color 0.3s ease;
      }

       path {
         stroke-width: 40;
        }

      .fa-arrow-up:hover {
       background-color: var(--color-purple);
       color: var(--color-black)
      }

      @media screen and (max-width: 524px) {
      .fa-arrow-up {
      opacity: 0.7;
      }
    }