:host { 
    position:fixed;
    right: 15px;
    bottom: 15px;
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none
    }
    
    :host.visible { 
      opacity: 1;
      pointer-events: all
      }
      
    .fa-arrow-up {
      display: block;
      border:2px solid #e8e8e8;
        padding: 15px;
        height: 56px;
        border-radius:50%;
        color: #b0b0b0;
        transition: background-color 0.3s ease;
      }

       path {
        stroke: #b0b0b0;
         stroke-width: 80;
        }

      .fa-arrow-up:hover {
       background-color: #e8e8e8;
      }

      @media screen and (max-width: 524px) {
      .fa-arrow-up {
      opacity: 0.7;
      }
    }