<div  class="modal-overlay">
      <div class="modal">
         <app-icon role="button" [iconPath]="xmarkPath" [ngClass]="'small-icon blue'" (click)="closeModal()"></app-icon>

     <form [formGroup]="form"> 
  <label [for]="activeControlName">Elige el color 
    {{ activeModal === 'base' ? 'de la base' : activeModal === 'color' ? 'de las letras' : 'de la luz'  }}:
  </label>
 

<div class="color-picker">
 
  @for(color of material.colors; track i; let i = $index) {
      @if(activeModal === 'color' && color.uses?.includes('letra') || activeModal === 'lightColor' && color.uses?.includes('luz') || activeModal === 'base' && color.uses?.includes('base')) {
        <div class="color-option">
    <input
      type="radio"
      [id]="'activeModal -' + i"
      [formControlName]="activeControlName"
      [value]="color"
      hidden>

    <label
      [for]="'activeModal -' + i"
      class="color-square"
      [style.background]="color.hex"
       ></label>

           <span class="color-legend">{{color.name}}</span>
      </div>
  }
   }
</div>

@if(activeModal === 'base') {
  <fieldset class="measures">
    <legend>Indica las medidas de la base:</legend>
    
    <div class="measures-inputs">
    <div class="measure-input">  
 <label for="baseHeight">Alto (cm): </label>
    <input
        aria-label="Escribir alto de la base en centímetros"
        class="number-input"
        type="number"
        id="baseHeight"
        name="baseHeight"
           formControlName="baseHeight"
          [min]="lettersHeight+3"
          max="300"
        #baseHeight
      />

     </div>
    <div class="measure-input">
       <label for="baseWidth">Ancho (cm):</label>
       <input
        aria-label="Escribir alto de la base en centímetros"
        class="number-input"
        type="number"
        id="baseWidth"
        name="baseWidth"
            formControlName="baseWidth"
              step="1"
          [min]="lettersWidth+3"
        #baseWidth
      />
      </div>
</div>

      </fieldset>
}

<div class="modal-buttons">
<button class="button"  type="button" (click)="closeModal()">Aceptar</button>
<button class="button"  type="button" (click)="unselectColor()">Cancelar</button>
</div>
</form>

</div>
</div>

