.modal {
  display: flex;
  flex-direction: column;
   background: var(--color-white);
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  border-radius: 14px;
  padding: 16px;
 width: 90%;
max-width: 480px;
  overflow: hidden;
  animation: scaleIn 0.2s ease;

}
.modal form {
    padding: 16px;
  }

.modal-overlay {
position: absolute;
  inset: 0; 
  min-height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  animation: fadeIn 0.2s ease;
}

.modal-buttons {
  display: flex;
  gap: 10px
}

.color-picker {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.color-picker label {
 border: 1px solid var(--color-light-grey);
   border-radius: 5px
 }

  .color-picker label:hover,   .no-base-option:hover {
 border: 1px solid var(--color-grey);
 cursor: pointer;
 }

input[type="radio"]:checked {
border: 1px solid var(--color-grey);
}

.color-square {
width: 35px;
height: 35px;
display: inline-block;
border-radius: 5px;
}

.small-icon {
  align-self: flex-end;
   cursor: pointer;
}

.small-icon:hover {
  color: var(--color-black);
}

.color-legend {
  opacity: 0;
  transition: opacity .2s ease;
   border: 1px solid var(--color-light-grey);
   border-radius: 5px;
   font-size: 14px;
    padding: 2px 8px;
text-align: center;
position: absolute;
    white-space: nowrap;
    background-color: var(--color-white);
    z-index: 2; 
 top: -50%;
left: 70%;
}

.color-option {
position: relative;
}

.color-option:hover .color-legend {
  opacity: 1
}

.measures {
  padding: 0;
}

legend {
margin-bottom: 10px
}

.measures-inputs {
  display: flex;
  gap: 10px
}

.measure-input {
  display: flex;
  flex-direction: column;
}

.number-input {
  background-color: var(--color-extra-light-grey);
    width: 80%
}

.no-base-option {
   display: flex;
  flex-direction: column;
    align-items: center;
     gap: 6px;
   border: 1px solid var(--color-grey);
   background: linear-gradient(to top right, transparent 48%, red 48%, red 52%, transparent 52%),
    linear-gradient(to top left, transparent 48%, red 48%, red 52%, transparent 52%);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

