<nav>
    <ul class="nav-links">    
      <!-- <li><a  (click)="closeBurguer()" [routerLink]="['/sectores']">Sectores</a></li> -->
       <li routerLinkActive="active"><a (click)="closeBurguer()" [routerLink]="['/letreros-neon/frases-neon']" >Neón personalizado</a></li>
       <li routerLinkActive="active"><a (click)="closeBurguer()" [routerLink]="['/letras-corporeas']">Letras corpóreas</a></li>
   <li routerLinkActive="active"><a (click)="closeBurguer()" [routerLink]="['/banderolas-personalizadas']" >Banderolas luminosas</a></li>

         <li routerLinkActive="active"><a  (click)="closeBurguer()"  (mouseenter)="onCatalogoMouseEnter()" [routerLink]="['/catalogo']" >Catálogo</a>
      </li>
      
    <ul class="submenu">
      @for(category of categories$ | async; track category.slug) {
 <li><a (click)="closeBurguer()" [routerLink]="[category.slug]">{{category.name}}</a></li>
      }
    </ul>

      <li routerLinkActive="active"><a (click)="closeBurguer()" [routerLink]="['/nosotros']" >Nosotros</a></li>
      <li routerLinkActive="active"><a  (click)="closeBurguer()" [routerLink]="['/casos-de-exito']" >Casos</a></li>
    </ul>
  </nav>

