.nav-links {
    display: flex;
    height: 6vh;
     align-items: center;
    justify-content: center;
  } 
  
  a {
    font-family: "Abel", sans-serif;
    font-size: 18px;
    font-weight: 400;
      letter-spacing: 0.5px;
   color: var(--color-white);
   transition: color 0.3s ease;
   margin: auto;
   padding: 0 20px;
  }

  a:hover, .active {
     color: var(--color-blue);
}

  li {
     padding: 0px 14px;
     height: 100%;
     text-align: center;
     display: flex;
     align-self: center;
  }

.submenu {
  display: none
}
 
  @media screen and (max-width: 766px) {
    .nav-links {
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 111px;
    right: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;
    background-color: var(--color-black);
    }

    a {
 color: var(--color-white); 
    }

    .submenu {
      display: flex;
      flex-direction: column;
      gap: 10px;
      background-color: var(--color-white);
      padding: 10px 0;
      border-radius: 3px;
      margin-left: 10px;
    }

    .submenu > li > a{
   font-size: 20px;
   color: var(--color-black);
   margin-left: 20px;
    }
  }

 @media screen and (min-width: 767px) and (max-width: 1200px) {
 .nav-links {
   width: 100%;
     }

    .nav-links a {
  font-size: 16px;
    }
       }