  nav {
  padding: 6px;
  background-color: rgb(2, 21, 38, 0.6);
}

.nav-links {
    display: flex;
    gap: 60px;
    justify-content: space-around;
    width: 80%;
    margin: auto;
 
  } 
  
  a {
    font-size: 20px;
    /* text-transform: uppercase; */
    color: var(--color-white);
  }
  
  a:hover {
    color: var(--color-blue);
    text-shadow: var(--white-shadow);
  }

  li {
    transition: var(--smooth-scale);
  }

  li:hover {
    transform: var(--hover-scale)
}

.submenu {
  display: none
}
 
  @media screen and (max-width: 768px) {
    .nav-links {
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 111px;
    right: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;
    background-color: var(--color-black);
    color: var(--color-white); 
    box-shadow:  2px 2px 4px lightgrey
    }

    .submenu {
      display: flex;
      flex-direction: column;
      gap: 10px;
      background-color: var(--color-white);
      padding: 10px 0;
      border-radius: 3px;
      margin-left: 10px;
    }

    .submenu > li > a{
   font-size: 20px;
   color: var(--color-black);
   margin-left: 20px;
    }
  }