.nav-links {
    display: flex;
    height: 6vh;
     align-items: center;
    justify-content: center;
  } 
  
  a {
    font-size: 16px;
      font-family: "Montserrat", sans-serif; 
      letter-spacing: 1px;
      font-weight: 600;
      text-transform: uppercase;
   color: var(--color-white);
   margin: auto;
 
  }


  li {
     padding: 0px 14px;
     height: 100%;
     text-align: center;
     display: flex;
     align-self: center;
     transition: background-color 0.3s ease;
  }

  li:hover {
    background-color: var(--color-purple);
}

.active {
background-color: var(--color-purple);
}

.submenu {
  display: none
}
 
  @media screen and (max-width: 766px) {
    .nav-links {
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 111px;
    right: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;
    background-color: var(--color-black);
    }

    a {
 color: var(--color-white); 
    }

    .submenu {
      display: flex;
      flex-direction: column;
      gap: 10px;
      background-color: var(--color-white);
      padding: 10px 0;
      border-radius: 3px;
      margin-left: 10px;
    }

    .submenu > li > a{
   font-size: 20px;
   color: var(--color-black);
   margin-left: 20px;
    }
  }

 @media screen and (min-width: 767px) and (max-width: 1200px) {
 .nav-links {
   width: 100%;
     }

    .nav-links a {
  font-size: 16px;
    }
       }