<form  #newProductForm="ngForm"  (submit)="onSubmit(); newProductForm.resetForm()"> 
 
    <input
      placeholder="Nombre del nuevo producto"
      class="form-field"
      type="text"
      id="name"
      name="name"
      required
      [(ngModel)]="newProductData.name"
      #nameField="ngModel"
    />
    <p
      *ngIf="nameField.touched && nameField.errors?.['required']"
      class="error-message"
    >
      Por favor, introduce un nombre para el nuevo producto.
    </p>
    <p
      *ngIf="nameField.invalid && nameField.dirty && nameField.errors?.['existingName']"
      class="error-message"
    >
      Ya existe un producto con este nombre. Por favor, introduce un nombre distinto.
    </p>

  

    <input
    placeholder="slug-nuevo-producto"
    class="form-field"
    type="text"
    id="slug"
    name="slug"
    required
    [(ngModel)]="newProductData.slug"
    #slugField="ngModel"
  />
  <p
    *ngIf="slugField.touched && slugField.errors?.['required']"
    class="error-message"
  >
    Por favor, introduce un slug para el nuevo producto. Puedes utilizar el nombre del producto reemplazando los espacios por guiones.
  </p>
  <p
    *ngIf="slugField.invalid && slugField.dirty && slugField.errors?.['existingSlug']"
    class="error-message"
  >
    Ya existe un producto con este slug. Por favor, introduce un slug distinto.
  </p>

 <label for="category">Selecciona una o varias categorías</label> 
<select  class="form-field" name="category" id="category" multiple
 [(ngModel)]="newProductData.categories"
   #categoriesField="ngModel"
 required
>
        @for(category of categories$ | async; track category._id) {
        <option [value]="category._id">{{ category.name }}</option>
        }
</select>

<textarea 
placeholder="Descripción del nuevo producto."
name="description" id="description" 
 class="form-field"
required
  [(ngModel)]="newProductData.description"
  #descriptionField="ngModel"
></textarea>
<p
  *ngIf="descriptionField.touched && descriptionField.errors?.['required']"
  class="error-message"
>
  Por favor, introduce una descripción para el nuevo producto. 
</p>


<textarea
 placeholder="Materiales con los que está fabricado el nuevo producto."
  class="form-field"
  id="material"
  name="material"
  required
  [(ngModel)]="newProductData.material"
  #materialField="ngModel"
></textarea>

<p
  *ngIf="materialField.touched && materialField.errors?.['required']"
  class="error-message"
>
  Por favor, introduce los materiales con los que está fabricado el nuevo producto. 
</p>


<textarea
 placeholder="Describe el diseño del nuevo producto."
  class="form-field"
  id="design"
  name="design"
  required
  [(ngModel)]="newProductData.design"
  #designField="ngModel"
></textarea>

<p
  *ngIf="designField.touched && designField.errors?.['required']"
  class="error-message"
>
  Por favor, describe el diseño del nuevo producto. 
</p>


<textarea
 placeholder="Describe cómo instalar el nuevo producto."
  class="form-field"
  id="installation"
  name="installation"
  required
  [(ngModel)]="newProductData.installation"
  #installationField="ngModel"
></textarea>
<p
  *ngIf="installationField.touched && installationField.errors?.['required']"
  class="error-message"
>
  Por favor, describe cómo se instala el nuevo producto. 
</p>


<textarea
 placeholder="Enumera las aplicaciones del nuevo producto."
  class="form-field"
  id="application"
  name="application"
  required
  [(ngModel)]="newProductData.application"
  #applicationField="ngModel"
></textarea>

<p
  *ngIf="applicationField.touched && applicationField.errors?.['required']"
  class="error-message"
>
  Por favor, enumera las aplicaciones del nuevo producto. 
</p>

<label class="label" for="images">Selecciona imágenes en formato webp de menos de 2MB:</label>
<input
  type="file"
  style="align-self: flex-start; padding-left: 12px"
   accept="image/webp"
  multiple
  id="images"
  name="images"
  required
  (change)="onFilesSelected($event)"
  
/>
<p
  *ngIf="errorMessage "
  class="error-message"
>
    {{ errorMessage }}
</p>



<div class="buttons-container">
  <button class="button"  (click)="closeNewProductModal()" type="submit" [disabled]="newProductForm.invalid">Añadir</button>
  <button class="button"  type="button" (click)="closeNewProductModal()">Cancelar</button>
  </div>
</form>