<form  #newProductForm="ngForm"  (submit)="onSubmit(); newProductForm.resetForm()"> 
 
    <input
      placeholder="Nombre del nuevo producto"
      class="form-field"
      type="text"
      id="name"
      name="name"
      required
      [(ngModel)]="newProductData.name"
      #nameField="ngModel"
    />
    <p
      *ngIf="nameField.touched && nameField.errors?.['required']"
      class="error-message"
    >
      Por favor, introduce un nombre para el nuevo producto.
    </p>
    <p
      *ngIf="nameField.invalid && nameField.dirty && nameField.errors?.['existingName']"
      class="error-message"
    >
      Ya existe un producto con este nombre. Por favor, introduce un nombre distinto.
    </p>

  

    <input
    placeholder="slug-nuevo-producto"
    class="form-field"
    type="text"
    id="slug"
    name="slug"
    required
    [(ngModel)]="newProductData.slug"
    #slugField="ngModel"
  />
  <p
    *ngIf="slugField.touched && slugField.errors?.['required']"
    class="error-message"
  >
    Por favor, introduce un slug para el nuevo producto. Puedes utilizar el nombre del producto reemplazando los espacios por guiones.
  </p>
  <p
    *ngIf="slugField.invalid && slugField.dirty && slugField.errors?.['existingSlug']"
    class="error-message"
  >
    Ya existe un producto con este slug. Por favor, introduce un slug distinto.
  </p>

     
   <label class="label" for="light">
<input  type="checkbox" [(ngModel)]="newProductData.light" name="light" id="light">
Luminoso
   </label>

 <label for="category" class="label">Selecciona una o varias categorías:</label> 
 
<select  class="form-field" [size]="(categories$| async)?.length" name="category" id="category" multiple
 [(ngModel)]="newProductData.categories"
   #categoriesField="ngModel"
 required
>
        @for(category of categories$ | async; track category._id) {
        <option [value]="category._id">{{ category.name }}</option>
        }
</select>


<input 
class="form-field" 
type="text"
[(ngModel)]="newProductData.renderKey"
placeholder="Palabra clave / renderKey (dejar en blanco si no lleva persoanlizador)"
id="renderKey"
name="renderKey"
#renderKeyField="ngModel"
>
<label for="description">Descripción del nuevo producto:</label>
<app-rich-text
name="description" 
[(ngModel)]="newProductData.description"
required  
  id="description" 
  #descriptionField="ngModel"
  >
</app-rich-text>

<label for="material">Materiales con los que está fabricado el nuevo producto:</label>
<app-rich-text
name="material" 
[(ngModel)]="newProductData.material"
required  
  id="material" 
  #materialField="ngModel"
  >
</app-rich-text>


<label for="design">Describe el diseño del nuevo producto:</label>
<app-rich-text
name="design" 
[(ngModel)]="newProductData.design"
required  
  id="design" 
  #designField="ngModel"
  >
</app-rich-text>

<label for="installation">Describe cómo instalar el nuevo producto:</label>
<app-rich-text
name="installation" 
[(ngModel)]="newProductData.installation"
required  
  id="installation" 
  #installationField="ngModel"
  >
</app-rich-text>

<label for="application">Aplicaciones del nuevo producto:</label>
<app-rich-text
name="application" 
[(ngModel)]="newProductData.application"
required  
  id="application" 
  #applicationField="ngModel"
  >
</app-rich-text>



 <div  class="variants-form-section">
@for(variant of newProductData.variants; track $index) {
  <div  class="variant-row">
<input 
class="form-field" 
type="text"
[(ngModel)]="variant.name"
[placeholder]="'Nombre de la Variante ' + ($index + 1)"
[id]="'variantName' + $index"
[name]="'variantName' + $index"
#variantNameField="ngModel"
>
<input 
class="form-field" 
type="number"
[(ngModel)]="variant.size"
placeholder="Tamaño de la Variante"
[id]="'variantSize' + $index"
[name]="'variantSize' + $index"
#variantNameField="ngModel"
>
<input 
class="form-field" 
type="number"
[ngModel]="variant.price / 100"
(ngModelChange)="variant.price = $event * 100"
placeholder="precio de la Variante"
[id]="'variantPrice' + $index"
[name]="'variantPrice' + $index"
#variantPriceField="ngModel"
>
</div>
}

<button type="button" class="add-button" (click)="addVariant()">+</button>
</div>



<label class="label" for="images">Selecciona imágenes en formato webp/jpg de menos de 2MB:</label>
<input
  type="file"
  style="align-self: flex-start; padding-left: 12px"
   [accept]="allowedTypes.join(', ')"
  multiple
  id="images"
  name="images"
  required
  (change)="onFilesSelected($event)"
  
/>
<p
  *ngIf="errorMessage "
  class="error-message"
>
    {{ errorMessage }}
</p>

<textarea
class="form-field"
  placeholder="Meta descripción para SEO (106-141 caracteres)"
  id="metaDescription"
  name="metaDescription"
  required
  [(ngModel)]="newProductData.metaDescription"
  #metaDescription="ngModel"
></textarea>

<div class="buttons-container">
  <button class="button"  (click)="closeNewProductModal()" type="submit" [disabled]="newProductForm.invalid">Añadir</button>
  <button class="button"  type="button" (click)="closeNewProductModal()">Cancelar</button>
  </div>
</form>