<ul class="main-advantages-list centered-text">

  <li class="main-advantage">
      <div class="content-wrapper blue-shadow">
        <app-icon [iconPath]="lettersPath" [ngClass]="'big-icon'"></app-icon>
  <h2 class="advantage-title">Amplia gama</h2>
  <p>Fabricamos todo tipo de rótulos y carteles luminosos o sin luz.</p>
  </div>
</li>

<li class="main-advantage">
    <div class="content-wrapper green-shadow">
        <app-icon [iconPath]="customPath" [ngClass]="'big-icon'"></app-icon>
<h2  class="advantage-title">Soluciones a medida</h2>
<p>Descubre las opciones a tu alcance y personaliza tu rótulo.</p>
</div>
</li>

<li class="main-advantage">
  <div class="content-wrapper fuchsia-shadow">
    <app-icon [iconPath]="shieldPath" [ngClass]="'big-icon'"></app-icon>
<h2  class="advantage-title">Soporte y garantía</h2>
<p>Fabricados con materiales de primera calidad y acabados impecables.</p>
</div>
</li>

</ul>
<!-- <img src="https://res.cloudinary.com/dxuseyfxa/image/upload/v1742551840/rotulos-personalizados-learoy-_oz05xj.webp" alt="rotulos-personalizados"> -->