<ul class="main-advantages-list centered-text">
    <li class="main-advantage">
  <h2 class="text-title">Todo tipo de letreros</h2>
  <p>Diseñamos y fabricamos todo tipo de rótulos publicitarios y carteles para tiendas. Letreros para fachadas o exterior, neones para decorar paredes y cualquier tipo de señalización luminosa o sin luz.</p>
</li>
<li class="main-advantage">
<h2  class="text-title">Soluciones integrales y a medida de rotulación</h2>
<p>Rótulos Learoy fabrica letreros persoanalizados. Puedes darnos tu diseño o trasladarnos tus ideas para que le demos forma. Descubre la cantidad de opciones de personalización a tu alcance.</p>
</li>
<li class="main-advantage">
<h2  class="text-title">Soporte y garantía</h2>
<p>Fabricados con materiales de primera calidad y acabados impecables, los rótulos Learoy ofrecen una garantía de 2 años. Además, el equipo Learoy brinda asesoramiento y soporte durante todo el proceso.</p>
</li>
</ul>
<!-- <img src="https://res.cloudinary.com/dxuseyfxa/image/upload/v1742551840/rotulos-personalizados-learoy-_oz05xj.webp" alt="rotulos-personalizados"> -->