<form 
*ngIf="productElement"
 #editProductForm="ngForm"  (submit)="onSubmit(); editProductForm.resetForm()"> 
    
 <label for="name" class="label blue">Nombre:</label>
    <input
    class="form-field"
    [placeholder]="productElement.name"
    [value]="productElement.name"
      type="text"
      id="name"
      name="name"
      [(ngModel)]="updateProductData.name"
      #nameField="ngModel"
    />

    <label for="slug" class="label blue">Slug:</label>
      <input
    class="form-field"
    [placeholder]="productElement.slug"
    [value]="productElement.slug"
      type="text"
      id="slug"
      name="slug"
      [(ngModel)]="updateProductData.slug"
      #slugField="ngModel"
    />
      
   
  <span class="label blue">¿Tiene luz?</span>

  <label class="label checkbox-label">
    <input
      type="checkbox"
      [(ngModel)]="updateProductData.light"
      name="light"
    />
    Luminoso
  </label>


     <label class="label blue" for="category">Selecciona una o varias categorías:</label> 
<select name="category" id="category" multiple [size]="(categories$| async)?.length"
 [(ngModel)]="updateProductData.categories"
   #categoriesField="ngModel"
 required
>
        @for(category of categories$ | async; track category._id) {
        <option [value]="category._id">{{ category.name }}</option>
        }
</select>

<label for="slug" class="label blue">Palabra clave para personalizador (dejar en blanco si no lleva personalizador):</label>
<input 
class="form-field" 
type="text"
[(ngModel)]="updateProductData.renderKey"
[placeholder]="updateProductData.renderKey"
id="renderKey"
name="renderKey"
#renderKeyField="ngModel"
>
    
 <label class="label blue" for="description">Descripción:</label>
 <app-rich-text
name="description" 
 id="description" 
[(ngModel)]="updateProductData.description"
  #descriptionField="ngModel"
  >
</app-rich-text> 


 <label class="label blue" for="material">Material:</label> 
  <app-rich-text
name="material" 
 id="material" 
[(ngModel)]="updateProductData.material"
  #materialField="ngModel"
  >
</app-rich-text> 

 <label class="label blue" for="design">Diseño:</label> 
   <app-rich-text
name="design" 
 id="design" 
[(ngModel)]="updateProductData.design"
  #designField="ngModel"
  >
</app-rich-text> 

<label class="label blue" for="installation">Instalación:</label> 
   <app-rich-text
name="installation" 
 id="installation" 
[(ngModel)]="updateProductData.installation"
  #installationField="ngModel"
  >
</app-rich-text> 

<label class="label blue" for="application">Aplicación:</label>
   <app-rich-text
name="application" 
 id="application" 
[(ngModel)]="updateProductData.application"
  #applicationField="ngModel"
  >
</app-rich-text>  

@for(variant of updateProductData.variants; track $index) {
<label class="label blue">Variante {{ $index + 1 }}:</label> 
<input 
class="form-field" 
type="text"
[(ngModel)]="variant.name"
[placeholder]="variant.name"
[id]="'variantName' + $index"
[name]="'variantName' + $index"
#variantNameField="ngModel"
>
<input 
class="form-field" 
type="number"
[(ngModel)]="variant.size"
[placeholder]="variant.size"
[id]="'variantSize' + $index"
[name]="'variantSize' + $index"
#variantNameField="ngModel"
>
<input 
class="form-field" 
type="number"
[(ngModel)]="variant.price"
[placeholder]="variant.price"
[id]="'variantPrice' + $index"
[name]="'variantPrice' + $index"
#variantPriceField="ngModel"
>
}


<div class="images-section">
<label class="label blue" for="images">Imágenes (webp/jpeg hasta 2MB):</label>
<input
  type="file"
  style="align-self: flex-start; padding-left: 12px"
   accept="image/webp, image/jpeg"
  multiple
  id="images"
  name="images"
  (change)="onFilesSelected($event)"
  
/>
@if(errorMessage) {
<p class="error-message">{{ errorMessage }}</p>
}

<ul class="images-list"
cdkDropList
  (cdkDropListDropped)="drop($event)"
   cdkDropListOrientation="mixed"
  >
  @for(image of updateProductData.images; track image; let i = $index) {
  <li class="image-container" cdkDrag>
 
    <img class="product-miniature" [src]="image" [alt]="updateProductData.name+($index + 1)">
       <svg role="button" class="edit-delete-button" (click)="onDeleteImage(image)"
              xmlns="http://www.w3.org/2000/svg" 
              aria-hidden="true" viewBox="0 0 640 640">
              <path [attr.d]="binPath"></path></svg>

               <svg cdkDragHandle class="my-drag-handle"
  xmlns="http://www.w3.org/2000/svg" 
  viewBox="0 0 640 640">
  <!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.-->
  <path [attr.d]="dragPath"/></svg>
  
  </li>
  }
</ul>
</div>

<label for="metaDescription" class="label blue">Meta descrición para SEO (106-141 caracteres)</label>
<textarea
class="form-field" 
[placeholder]="productElement.metaDescription"
[value]="productElement.metaDescription"
  id="metaDescription"
  name="metaDescription"
  [(ngModel)]="updateProductData.metaDescription"
  #costField="ngModel"
></textarea>




<div class="buttons-container">
<button class="button"  (click)="closeUpdateProductModal()" type="submit" [disabled]="editProductForm.invalid">Actaulizar</button>
<button class="button"  type="button" (click)="closeUpdateProductModal()">Cancelar</button>
</div> 
</form>
