form {
padding: 42px;
}

.form-field {
padding:0;
margin-top: 0;
margin-bottom: 20px
}

select {
    background: #f7f7f7f7;
}

label {
    font-family: "Abel", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

textarea {
    min-height: 150px;
}

.images-section {
background-color: var(--color-extra-light-grey);
display: flex;
flex-direction: column;
gap: 20px;
padding: 20px
}

.images-list {
    display: flex;
    gap: 20px;
}

.image-container {
    height: 90px;
    width: 90px;
    border-radius: 10px;
    position: relative;
}

.product-miniature {
     height: 100%;
     width: 100%;
      border-radius: 10px;
      object-fit: cover;
}

svg {
    display: flex;
    fill: currentColor;
    height: 20px;
    cursor: pointer;
    margin: 6px;
    position: absolute;
    top: 0;
    right: 0;
}