<form 
*ngIf="productElement"
 #editProductForm="ngForm"  (submit)="onSubmit(); editProductForm.resetForm()"> 
    
    <input
    class="form-field"
    [placeholder]="productElement.name"
    [value]="productElement.name"
      type="text"
      id="name"
      name="name"
      [(ngModel)]="updateProductData.name"
      #nameField="ngModel"
    />

     <label for="category">Selecciona una o varias categorías</label> 
<select  class="form-field" name="category" id="category" multiple
 [(ngModel)]="updateProductData.categories"
   #categoriesField="ngModel"
 required
>
        @for(category of categories$ | async; track category._id) {
        <option [value]="category._id">{{ category.name }}</option>
        }
</select>
    

<textarea 
    class="form-field"
    [placeholder]="productElement.description"
  [value]="productElement.description"
  id="description"
  name="description"
  [(ngModel)]="updateProductData.description"
  #descriptionField="ngModel"
></textarea>



<textarea 
class="form-field"
[placeholder]="productElement.material"
[value]="productElement.material"
  id="material"
  name="material"
  [(ngModel)]="updateProductData.material"
  #materialField="ngModel"
></textarea>

<textarea 
class="form-field" 
[placeholder]="productElement.design"
[value]="productElement.design"
  id="design"
  name="design"
  [(ngModel)]="updateProductData.design"
  #designField="ngModel"
></textarea>

<textarea 
class="form-field" 
[placeholder]="productElement.installation"
[value]="productElement.installation"
  id="installation"
  name="installation"
  [(ngModel)]="updateProductData.installation"
  #installationField="ngModel"
></textarea>

<textarea 
class="form-field" 
[placeholder]="productElement.application"
[value]="productElement.application"
  id="application"
  name="application"
  [(ngModel)]="updateProductData.application"
  #applicationField="ngModel"
></textarea>

<label class="label" for="images">Añade una o varias imágenes en formato webp de menos de 2MB:</label>
<input
  type="file"
  style="align-self: flex-start; padding-left: 12px"
   accept="image/webp"
  multiple
  id="images"
  name="images"
  (change)="onFilesSelected($event)"
  
/>
<p
  *ngIf="errorMessage "
  class="error-message"
>
    {{ errorMessage }}
</p>


<div class="buttons-container">
<button class="button"  (click)="closeUpdateProductModal()" type="submit" [disabled]="editProductForm.invalid">Actaulizar</button>
<button class="button"  type="button" (click)="closeUpdateProductModal()">Cancelar</button>
</div> 
</form>
