:host {
    display: flex;
    padding: 52px 0;
    width: 80%;
    margin: auto
}

.image-container {
 display: flex;
 align-items: center;
 border-radius: 10px;
}

  .image-container, .banner-image {
max-width: 100%;
   overflow: hidden;

}

.banner-image {
object-fit: cover;
}
  
  .download-catalogue-texts {
 display: flex;
  flex-direction: column;
   padding: 35px;
  }

  .text {
    margin-bottom: 20px
}

.anchor-button {
margin-left: 52px;
} 

.anchor-button:hover {
background-color: var(--color-white);
color: var(--color-black)
}
  
     @media screen and (max-width: 374px) {
    :host {
    display: flex;
    flex-direction: column-reverse;
}
}