:host {
    display: flex;
 width: 80%;
  margin: auto; 
}

.download-catalogue-texts {
 display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  color: var(--color-white);
  padding: 52px;
  background: var(--gradient-new);
  }

  .download-catalogue-image {
    max-width: 40%; 
  object-fit: cover;
  }

   @media screen and (min-width: 391px) and (max-width: 1200px) {
    :host {
width: 100%
    }
    .download-catalogue-image {
    max-width: 70%; 
  }
   }

   @media screen and (max-width: 931px) {
 :host {
        flex-direction: column-reverse;
        width: 100%;
        padding: 0;
        gap: 0;
        background-size: cover;
  }

  .download-catalogue-image {
    align-self: center;
    justify-self: center;
overflow: hidden;
max-width: 100%;
  }

 .download-catalogue-texts {
    padding: 32px;
}  
}