@keyframes moveWords {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

.keywords-banner {
 padding: 52px 0;
 white-space: nowrap; 
 width: 100vw;
   overflow: hidden;
}

  .keywords {
    display: flex;
     max-width: 100%;
  color: var(--color-black);
  animation: moveWords 20s linear infinite; 
}

 .keywords > li {
  display: flex;
  gap: 24px;
 padding: 0 20px; 
  font-family: 'Abel', sans-serif;
 font-size: 18px;
 letter-spacing: 0.5px;
 white-space: nowrap;
 text-transform: uppercase;
 } 

 ul li:nth-child(4n+1) {
  color: var(--color-blue);
}

 ul li:nth-child(4n+2) {
     color: var(--color-green);
}

 ul li:nth-child(4n+3) {
     color: var(--color-fuchsia);
}

 ul li:nth-child(4n+4) {
     color: var(--color-orange);
    }
