@keyframes moveWords {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

.keywords-banner {
  background: linear-gradient(180deg,
   #000300 0%, 
   #140018 30%, 
     #02a9ea 100%); 
 padding: 52px 0;
 white-space: nowrap; 
 width: 100vw;
   overflow: hidden;
}

  .keywords {
    display: flex;
     max-width: 100%;
  color: var(--color-white);
  animation: moveWords 20s linear infinite; 
}

.keywords > li {
  display: flex;
  gap: 24px;
  padding: 0 12px;
  
 } 

 .keywords > li > p, .keywords > li > span {
 font-size: 14px;
 } 

 .keywords > li > p  {
 white-space: nowrap;
 } 