<main class="centered-main">

<app-home-carousel></app-home-carousel>  

   <section class="centered-section home-section">
      <h2 class="small-title centered-text">Luminosos y letreros para tiendas</h2>
<ul class="products-list featured">
  @for (product of products$ | async ; track product._id) {
  <li class="product-card" (click)="selectProduct(product) ">
      
    <app-card [product]="product"></app-card>
 
</li>
}
</ul>
</section>

 
   
<!-- <section class="centered-section dark-section full-width-section">
      <h2 class="small-title centered-text">Encuentra el estilo de tu rótulo</h2>
      <app-category-cards [cardElements]="categories$ | async"></app-category-cards>
    </section>  -->

    

    <section class="vertical-carousel-section dark-section">
      <div class="vertical-carousel-container">
      <div class="vertical-carousel-section-texts">
      <h2 class="small-title white">Gran variedad de letras corpóreas</h2>
      <h3 class="subtitle">Elige tu estilo</h3>
      <p>Desde letras o números de PVC hasta metacrilato, hierro, etc. Diseños minimalistas o personalizados que se integran en cualquier espacio.</p>
      <app-button [buttonText]="'Ver todas'" [ngClass]="'dark-button'" [buttonLink]="'/letras-corporeas'"></app-button>
    </div>
    <app-animated-vertical-carousel></app-animated-vertical-carousel> 
    </div>
  </section>

  <section class="centered-section personalizar-section">
<app-banner-personalizar></app-banner-personalizar>
    </section>
  
  <section class="full-width-section">
      <app-texts-section></app-texts-section>
  </section>
<div class="black-container"></div>

  </main>