.home-section {
padding: 100px 0
}

.vertical-carousel-section {
  width: 100%;
background-color: var(--color-black); 
padding: 0 52px;
}

.vertical-carousel-container { 
  width: 80%;
  margin: auto; 
display: flex; 
gap: 52px;
}



.vertical-carousel-section-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  color: var(--color-white)
}

/* .customers-section {
  overflow: hidden;
  max-width: 100%;
  } */


  @media screen and (max-width: 766px) {

    .vertical-carousel-section {
       flex-direction: column;
       padding-left: 0;
       padding-right: 0;
       width: 100vw;
       overflow: hidden;
  }

  .vertical-carousel-section-texts {
    padding: 32px;
}
}