  .main-footer-container {
    display: flex;
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 58px;
    justify-content: space-between
  }

  .secondary-footer-container {
    text-align: center;
    padding: 8px;
  }
  
  .contact-details {
    display: flex;
    flex-direction: column;
  }
  
  .contact-details > h2, 
  .contact-details > p {
    text-align: left;
  }
  
  nav {
    display: flex;
  }
  
  .footer-nav-title {
    text-transform: uppercase;
    padding-bottom: 10px;
    color: var(--color-blue);
  }
  
  .footer-nav-element {
    padding: 6px 0;
  }
  
  a {
    color: var(--color-white);
    display: block;
    font-size: 16px;
      }

  a::first-letter {
    text-transform: uppercase;
  }

  .secondary-footer-text {
  font-size: 14px;
}

.fa-brands {
   height: 22px;
}
  .footer-social-media-icons {
display: flex;
gap: 6px
  }

  @media screen and (max-width: 766px) {
    nav {
      display: none;
    }
  }
  