  .main-footer-container {
    display: flex;
background: var(--gradient-new);
    color: var(--color-white);
    padding: 58px;
    justify-content: space-between
  }

  .secondary-footer-container {
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
    padding: 8px;
  }
  
  .contact-details {
    display: flex;
    flex-direction: column;
  }
  
  .contact-details > h2, 
  .contact-details > p {
    text-align: left;
  }
  
  nav {
    display: flex;
  }
  
  .footer-nav-element {
    padding: 6px 0;
  }
  
  .footer-link {
    color: var(--color-white);
    display: block;
    font-size: 16px;
    transition: color 0.3s ease;
      }

        .footer-link:hover {
    color: var(--color-black);
      }

  a::first-letter {
    text-transform: uppercase;
  }

  .secondary-footer-text {
  font-size: 14px;
}

  .footer-social-media-icons {
display: flex;
gap: 18px
  }

  @media screen and (max-width: 766px) {
    nav {
      display: none;
    }
  }
  