<main class="centered-main">
    
@if(isEmpty()) {
    <section class="centered-section">
<h2 class="subtitle">Tu carrito está vacío</h2>
<app-button [buttonText]="'Seguir comprando'" [buttonLink]="'/catalogo'"></app-button>
</section>

} @else {

<section class="centered-section">
        <h1 class="centered-text">Tu pedido</h1>
<table>
     <tr>
<th class="orange">Producto</th>
<th class="fuchsia">Cantidad</th>
<th class="green">Importe</th>
     </tr>

    @for(product of cartService.items(); track $index) {
<tr> 
        <td class="product-column">
        
          
        <img class="product-miniature" [src]="product.customDetails && product.customDetails.svgString ? getSvgSrc(product.customDetails.svgString) : product.image" [alt]="product.name"> 
          
            
        
         

            <div class="product-info desktop">
            <span class="product-name">{{ product.name }}</span>
             @if(product.customDetails) {
            <span  >Texto: {{ product.customDetails.text}}, Fuente: {{product.customDetails.font}}, Color letras: {{product.customDetails.color}}, Altura de las letras: {{product.customDetails.size}} cm    
            </span>
            @if(!product.name.includes('neón')) {
            <span>Opciones: Frontal vinilo/metacrilato: {{ product.customDetails.frontCover ? product.customDetails.frontColor : 'no'}}, Base de aluminio: {{ product.customDetails.base ? product.customDetails.baseColor : 'no' }}</span>
            }
            } @else {
               <span  > {{ product.variantName}}    
            </span>
            }
            </div>
  </td>
             
    <td>
         <div class="qty-wrapper">
       <span class="qty-control" role="button" (click)="onReduceQty(product)" >-</span>
     <span>   {{product.qty}} </span>
      <span class="qty-control" role="button" (click)="onIncreaseQty(product)">+</span> 
        
        <svg role="button" (click)="onRemoveItem(product)" xmlns="http://www.w3.org/2000/svg"  aria-hidden="true" 
  viewBox="0 0 640 640">
    <!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.-->
              <path [attr.d]="binPath"/>
            </svg>


</div>
         </td>    
   <td class="black">{{product.price*product.qty | price}}  </td>

  

      </tr>

  
         @if(product.customDetails) {
            <tr class="mobile-tr" >
<td colspan="3" class="mobile-td">
   <p class="product-name mobile">{{ product.name }}</p>
    <p>Texto: {{ product.customDetails.text}}, Fuente: {{product.customDetails.font}}, Color letras: {{product.customDetails.color}}, Altura de las letras: {{product.customDetails.size}} cm</p>    
          
            @if(!product.name.includes('neón')) {
            <p>Opciones: Frontal vinilo/metacrilato: {{ product.customDetails.frontCover ? product.customDetails.frontColor : 'no'}}, Base de aluminio: {{ product.customDetails.base ? product.customDetails.baseColor : 'no' }}</p>
            }
            </td>
      </tr>
     } 
           
    }

</table>
</section>

<section class="subtotal-container">

<p class="price-shipment">Envío gratis</p>

<p class="subtitle">Total <span class="subtitle black left"> {{ cartService.totalPrice() | price }}</span></p>
<div class="cart-buttons">
<app-button class="secondary-button" [buttonText]="'< Seguir comprando'" [buttonLink]="'/catalogo'"></app-button>
<app-button  [buttonText]="'Pagar pedido'" [buttonLink]="'/checkout'"></app-button>
</div>
</section>
}


</main>