<main>
    
    <section>
        <h1 class="centered-text">Tu pedido</h1>
<table>
     <tr>
<th class="subtitle">Producto</th>
<th class="subtitle">Cantidad</th>
<th class="subtitle">Importe</th>
     </tr>
    @for(product of productsPurchaded; track product.id) {
<tr> 
        <td class="product-info"><img class="product-miniature" [src]="product.image" [alt]="product.name"> <span class="product-name">{{ product.name.charAt(0).toUpperCase() }}{{ product.name.slice(1) }}</span></td>
    <td>+ {{product.qty}} - Icono Bin</td>    
   <td>{{product.price*product.qty | price}}  </td>
      </tr>
    }
</table>
</section>

<section class="subtotal-container">
<p>Total {{totalPrice}} €</p>
<app-button [whiteButton]="true" [buttonText]="'Pagar pedido'" [buttonLink]="'/checkout'"></app-button>
</section>
</main>