main {
     justify-content: center;
}

table {
width: 100%;
padding: 32px;
}

th {
    text-align: left;
      font-family: "Abel", sans-serif; 
    font-size: 20px;
    padding-bottom: 28px;
        letter-spacing: 2px;
        text-transform: uppercase; 
}

td {
    border-bottom: 1px solid var(--color-black);
    padding: 9px;
}

.product-column {
        display: flex;
        gap: 12px;
        align-items: center;
}

.product-miniature {
    height: 76px;
    border-radius: 3px;
}


.product-name {
    text-transform: uppercase;
}

.product-info {
display: flex;
flex-direction: column;
gap: 3px
}

.qty-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.qty-control {
    cursor: pointer;
      font-size: 26px;
      color: var(--color-black)
}

svg {
     display: flex;
     fill: currentColor;
      height: 20px;
      cursor: pointer
  }

svg path {
  stroke: currentColor;
  fill: none;
    stroke-width: 40;
}

.subtotal-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.cart-buttons {
    display: flex;
    gap: 14px
}

.secondary-button::ng-deep .button {
background-color: transparent;
color: var(--color-blue);
text-decoration: underline;
text-underline-offset: 4px;
padding: 0
}


.price-shipment {
  color: #878787;
   font-family: "Open Sans", sans-serif;
    font-size: 16px; 
    line-height: 26px;
    letter-spacing: 2px;
    font-weight: bold;
}

.mobile-tr, .mobile {
    display: none
}

 @media screen and (max-width: 766px) {
.product-column {
 flex-direction: column;
 align-items: flex-start;
}

.cart-buttons {
    flex-direction: column;
     align-items: flex-end;
     gap: 0;
}

td {
    border-bottom: none;
    padding: 16px 9px 16px 9px
}

.mobile-tr, .mobile {
    display: contents;
}

.mobile-td {
     border-bottom: 1px solid var(--color-black);
     padding: 0 9px 16px 9px;
}

.desktop {
    display: none;
}

}

 


