<form 
*ngIf="categoryElement"
 #editCategoryForm="ngForm"  (submit)="onSubmit(); editCategoryForm.resetForm()"> 
    
  <label for="name" class="label blue">Nombre:</label>
    <input
    class="form-field"
    [placeholder]="categoryElement.name"
    [value]="categoryElement.name"
      type="text"
      id="name"
      name="name"
      [(ngModel)]="updateCategoryData.name"
      #nameField="ngModel"
    />

     <label for="slug" class="label blue">Slug:</label>
      <input
    class="form-field"
    [placeholder]="categoryElement.slug"
    [value]="categoryElement.slug"
      type="text"
      id="slug"
      name="slug"
      [(ngModel)]="updateCategoryData.slug"
      #slugField="ngModel"
    />

     <label for="products" class="label blue">Tipos:</label>

      <app-rich-text
name="products" 
 id="products" 
[(ngModel)]="updateCategoryData.description.products"
  #productsField="ngModel"
  >
</app-rich-text> 
    
 <label for="application" class="label blue">¿Cuándo elegir?</label>
       <app-rich-text
name="application" 
 id="application" 
[(ngModel)]="updateCategoryData.description.application"
  #applicationField="ngModel"
  >
</app-rich-text> 


<label for="custom" class="label blue">¿Se puede personalizar?</label>
    <app-rich-text
name="custom" 
 id="custom" 
[(ngModel)]="updateCategoryData.description.custom"
  #customField="ngModel"
  >
</app-rich-text> 

<label for="cost" class="label blue">¿Cuánto cuesta?</label>
    <app-rich-text
name="cost" 
 id="cost" 
[(ngModel)]="updateCategoryData.description.cost"
  #costField="ngModel"
  >
</app-rich-text> 


<label for="metaDescription" class="label blue">Meta descrición para SEO (106-141 caracteres)</label>
<textarea
class="form-field" 
[placeholder]="categoryElement.description.metaDescription"
[value]="categoryElement.description.metaDescription"
  id="metaDescription"
  name="metaDescription"
  [(ngModel)]="updateCategoryData.description.metaDescription"
  #costField="ngModel"
></textarea>

<div class="buttons-container">
<button class="button"  (click)="closeUpdateCategoryModal()" type="submit" [disabled]="editCategoryForm.invalid">Actaulizar</button>
<button class="button"  type="button" (click)="closeUpdateCategoryModal()">Cancelar</button>
</div> 
</form>
