:host {
  width: 80%;
  padding-top: 52px;

}

.container {
display: grid;
grid-template-columns: 50% 50%;
justify-items: center;
}

.preview-container {
    width:100%;
    min-height: 100%;
    background-color: #f7f7f7;
    align-items: center;
    display: flex;
     flex-direction: column;
}

.preview-figure {
  height: 100%;
  display: inline-block;
position: relative
}

.ia-image {
    width: 100%;
    height: 100%
}

text {
  transition: font-size 0.2s ease;
}

.ia-advice {
padding: 6px;
text-align: center;
background-color: var(--color-black);
color: var(--color-white);
width: 100%;
}

.preview-form {
    padding: 32px;
    /* width:100%; */
     background: #f7f7f7; 
     min-height: 300px;
      max-height: 65vh;
    overflow-y: auto;
      position: relative;
}

textarea {
 min-height: 100px; 
 border: none
}

textarea:focus-visible {
 border: 1px solid #e2e2e2;
}


.color-picker, .font-picker, .background-picker {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.background-picker {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  justify-content: center;
}

.black-background {
  background-color: black;
}

.color-picker label, .font-picker label, .background-picker li, .selector-button {
 border: 1px solid #e2e2e2;
   border-radius: 5px
 }

.selector-button {
 padding: 4px 8px;
text-align: center;
width: fit-content
 }

 .color-selector {
  display: flex;
  align-items: center;
  gap: 10px;
 }

.fonts-expand {
border: 1px solid var(--color-grey);
border-radius: 5px;
padding: 4px 8px;

}

.fonts-expand:hover {
  color: var(--color-black);
border: 1px solid  var(--color-black);
cursor: pointer;
}

 .color-picker label:hover, .font-picker label:hover, .background-picker li:hover, .selector-button:hover  {
 border: 1px solid var(--color-grey);
 cursor: pointer;
 }

 input[type="radio"]:checked + .color-square, input[type="radio"]:checked + .background-square, input[type="radio"]:checked + .font-preview,
 .selector-button.selected {
border: 1px solid var(--color-grey);
}


.color-square {
width: 35px;
height: 35px;
display: inline-block
}


.background-square {
width: 75px;
height: 60px;
background-size: 250%; 
}

.font-preview {
padding: 4px 8px;
text-align: center;
white-space: nowrap;
 text-transform: capitalize;
 width:30%;
}


input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #ccc; 
  border-radius: 5px;
  outline: none;
}

/* Parte seleccionada */
input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 5px;
  background: linear-gradient(to right, #007aff var(--value), #ccc var(--value));
}

/* bolita */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: var(--color-blue);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px; /* centrar */
}

.measure-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.measure-line.horizontal, .measure-line.vertical {
  position: absolute;
}

.measure-line.horizontal {
  bottom: -25px;
  left: 5%;
  width: 90%;
  border-top: 2px dashed var(--color-blue);
  text-align: center;
}

.measure-line.vertical {
  left: -35px;
  top: 5%;
  height: 90%;
  border-left: 2px dashed  var(--color-blue);
}

.measure-line.horizontal span, .measure-line.vertical span  {
  position: absolute;
  color: var(--color-blue);
  padding: 2px 6px;
  font-size: 14px;
}

.measure-line.horizontal span  {
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.measure-line.vertical span {
  top: 50%;
  left: -5px;
  transform: translate(-100%, -50%);
   white-space: nowrap;
}

.modal {
   background: var(--color-white);
  padding: 32px;
 width: 90%;
  max-width: 480px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  overflow: hidden;
  animation: scaleIn 0.2s ease;
  display: flex;
  flex-direction: column;
  gap: 14px;
}


.modal-overlay {
position: absolute;
  inset: 0; 
  min-height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  animation: fadeIn 0.2s ease;
}


.options-container {
  display: flex;
  gap: 12px
}

.small-icon {
  align-self: flex-end;
   cursor: pointer;
}

.small-icon:hover {
  color: var(--color-black);
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleIn {
  from { transform: scale(0.95); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}



@media screen and (max-width: 1300px) {
  :host {
width: 100%
}
}

@media screen and (max-width: 766px) {
  :host {
    display: flex;
flex-direction: column;
}
}
