<div class="container">
<div class="preview-container">
<figure class="preview-figure">


 <svg 
 class="ia-image"
    #svgEl
    [attr.width]="width"
    [attr.height]="height"
    xmlns="http://www.w3.org/2000/svg"
  >
  <!-- aquí antes tenía que el renderKye era neon -->
  
    <defs>  
       
      <filter id="glow" x="-60%" y="-60%" width="220%" height="220%">
 
     <feGaussianBlur in="SourceGraphic" stdDeviation="6" result="blur1" />
        <feGaussianBlur in="SourceGraphic" stdDeviation="18" result="blur2" />
        <feGaussianBlur in="SourceGraphic" stdDeviation="40" result="blur3"/>

          <feComponentTransfer in="blur3" result="blur3soft">
    <feFuncA type="linear" slope="0.4"/>
  </feComponentTransfer>    
       
  <feMerge>
  <feMergeNode in="blur3soft"/>
          <feMergeNode in="blur2" />
          <feMergeNode in="blur1" />
          <feMergeNode in="SourceGraphic" />
  </feMerge>
</filter>

      
    </defs>
  

    <image
      [attr.href]="background === '/negro.webp' && (frontColor.dark || (frontColor.hex === 'transparent' && color.dark)) ? '/blanco.webp': background"
      width="100%"
      height="100%"
      preserveAspectRatio="xMidYMid slice"
    />

@if(product.light) {
   <rect x="0" y="0" width="100%" height="100%" fill="black" opacity="0.4"></rect>
   }

   <!-- aquí antes tenía material en vez de product -->
    
   @if(product.light) {
<radialGradient id="wallGlow"> <stop offset="0%" [attr.stop-color]="glowColor" stop-opacity="0.25"/> 
  <stop offset="100%" [attr.stop-color]="glowColor" stop-opacity="0"/> 
</radialGradient> 
<ellipse cx="50%" cy="50%" rx="35%" ry="25%" fill="url(#wallGlow)" />
 }
 
@if(product.light && product.renderKey !== 'neon') {
      <rect
    [attr.x]="overlay.left - 40"
    [attr.y]="overlay.top - 20"
    [attr.width]="overlay.width + 40 * 2"
    [attr.height]="overlay.height + 20 * 2"
    [attr.fill]="product.renderKey === 'aluminio' && frontColor.hex === '#ffffff' ? '#383E42' : baseColor.hex"
    rx="4">
  </rect>
   }

<g #textGroup>
   @for(line of lines; track i; let i = $index) {
   <text
     [attr.x]="width/2"    [attr.y]="height/2 + (i - (lines.length - 1) / 2) * lineHeight"
      text-anchor="middle"
     dominant-baseline="middle"
      [attr.fill]="frontColor.hex !== 'transparent' && frontColor.hex || color.hex"
       [attr.filter]="product.light ? 'url(#glow)' : null"    
       [ngStyle]="{'font-family': font.name, 'font-size': fontSize}"
         [attr.font-weight]="product.renderKey !== 'neon' ? 700 : null"
      >
        {{ line }}
    </text>
     }
  </g>
    
     @for(line of lines; track i; let i = $index) {
     <text
     [attr.x]="width/2"   [attr.y]="height/2 + (i - (lines.length - 1) / 2) * lineHeight"
      text-anchor="middle"
      dominant-baseline="middle"
      [attr.fontWeight]="product.renderKey !== 'neon' ? 700 : null"
       [attr.fill]="product.renderKey === 'neon' ? innerColor : frontColor.hex || color.hex"
        [ngStyle]="{'font-family': font.name, 'font-size': fontSize}"
      
      >
        {{ line }}
    </text> 
      }


  </svg>

  <div class="measure-overlay">
    <div class="measure-line horizontal"
       [style.left.px]="overlay.left"
       [style.width.px]="overlay.width"
       [style.top.px]="overlay.top + overlay.height + 15"
       ><span>{{ proportionalWidth | number:'1.0-2' }} cm</span></div>
      <div class="measure-line vertical"
       [style.top.px]="overlay.top"
       [style.height.px]="overlay.height"
       [style.left.px]="overlay.left - 15"
      ><span>{{ size * this.lines.length }} cm</span></div>

  </div>



</figure>    
</div>

<form [formGroup]="form"  class="preview-form" (ngSubmit)="onSubmit()"> 
  
      <label for="text">Texto del rótulo (añade líneas pulsando Enter):</label> 
      <textarea  class="form-field" placeholder="Escribe aquí tu texto" formControlName="text" id="text" required></textarea>
    
    <label for="font">Elige el diseño de letras:</label> 
     <div class="font-picker">

 @for(font of visibleFonts; track i; let i = $index) {
    <input
      type="radio"
      [id]="'font-' + i"
      formControlName="font"
      [value]="font"
      hidden>

    <label
      [for]="'font-' + i"
      class="font-preview"
      [ngStyle]="{'font-family': font.name}"
       >{{font.name.split(' ')[0]}}</label>
  }

  <span role="button" class="font-preview more" (click)="loadMoreFonts()">
  + Ver más
  </span>

     </div>
  
  <label for="color">Selecciona un color {{product.renderKey === 'neon' ? '': 'para las letras'}}*:
 </label> 
  <div class="color-picker">
  @for(color of material?.colors; track i; let i = $index) {
    @if(color.uses?.includes('letra')) {
      <input
      type="radio"
      [id]="'color-' + i"
      formControlName="color"
      [value]="color"
      hidden>

    <label
      [for]="'color-' + i"
      class="color-square"
      [style.background]="color.hex"
       ></label>

    }
  }
</div>


<!-- esto es solo si la luz es frontal -->
@if(!product.name.includes('retro') && product.light && product.renderKey === 'acero' || product.light && product.renderKey === 'hierro' || product.light && product.renderKey === 'aluminio') {
  <label for="frontColor"> {{ product.renderKey === 'aluminio' ? 'Elige el color del metacrilato frontal' : '¿Quieres mantener el frontal de metacrilato blanco o añadirle color mediante un vinilo?' }}*:</label> 
<div class="color-picker">
  @for(color of material?.colors; track i; let i = $index) {
      @if(color.uses?.includes('vinilo') && product.renderKey !== 'aluminio' || color.uses?.includes('metacrilato') ) {
    <input
      type="radio"
      [id]="'base-color-' + i"
      formControlName="frontColor"
      [value]="color"
      hidden>

    <label
      [for]="'base-color-' + i"
      class="color-square"
      [ngClass]="{ 'no-selection' : color.hex === 'transparent' }"
      [style.background]="color.hex"
       ></label>
  }
   }
</div>

<p>*El color de la luz será como el del vinilo. En caso de no llevar vinilo, será como el color de las letras.</p>

}




  
@if(product.renderKey !== 'neon') {
  <label for="baseColor">Selecciona un color para la base de aluminio:</label> 

  <div class="color-picker">
  @for(color of material?.colors; track i; let i = $index) {
     @if(color.uses?.includes('base')) {
    <input
      type="radio"
      [id]="'base-color-' + i"
      formControlName="baseColor"
      [value]="color"
      hidden>

    <label
      [for]="'base-color-' + i"
      class="color-square"
      [style.background]="color.hex"
       ></label>
  }
    }
</div>
}

<label for="background" class="label">Puedes cambiar el fondo de tu imagen previa:</label> 

  <div class="background-picker">
  @for(background of material?.backgrounds; track i; let i = $index) {
    <input
      type="radio"
      [id]="'background-' + i"
      formControlName="background"
      [value]="background"
      hidden>

    <label
      [for]="'background-' + i"
      class="background-square"
      [style.background-image]="'url(' + background + ')'"
       ></label>
  }
</div>

@if(product.variants?.length!== 0) {
<label for="size">Elige la altura de las letras: {{ form.get('size')?.value < font.minHeight ? font.minHeight : form.get('size')?.value}} cm</label>
 
<input #rangeEl 
type="range" 
  step="1"
[min]="this.font.minHeight" 
[max]="material?.maxHeight || 200" 
formControlName="size" 
id="size">
 
<p>Precio   <span class="price">{{ getPrice() | price }}</span> IVA Incl.</p>
<button type="submit" class="button" [disabled]="form.invalid">Añadir al carrito</button> 
}



</form>
</div>
<p class="ia-advice">Esta imagen es una simulación. El producto real puede variar ligeramente.</p>