.container {
display: grid;
grid-template-columns: 50% 50%;
background-color: var(--color-extra-light-grey);
}

.preview-figure {
width:100%;
height: 100%;
position: relative;
}

.ia-advice {
padding: 6px;
text-align: center;
background-color: var(--color-black);
color: var(--color-white);
width: 100%;
}

.preview-form {
padding: 32px;
position: relative;
}

textarea {
 min-height: 100px; 
 border: none
}

textarea:focus-visible {
 border: 1px solid #e2e2e2;
}

.color-picker, .font-picker {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.background-picker {
  display: flex;
  justify-content: center;
  gap: 14px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.background-square {
background-color: black;
width: 75px;
height: 60px;
background-size: 250%; 
}

.color-picker label, .font-picker label, .background-picker li, .img-selector-button {
border: 1px solid var(--color-light-grey);
border-radius: 5px
}

.img-selector-button {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 70px;
height: 70px;
 }

.fonts-expand {
border: 1px solid var(--color-grey);
border-radius: 5px;
padding: 4px 8px;
}

.fonts-expand:hover {
color: var(--color-black);
border: 1px solid  var(--color-black);
cursor: pointer;
}

 .color-picker label:hover, .font-picker label:hover, .background-picker li:hover, .img-selector-button:hover {
 border: 1px solid var(--color-grey);
 cursor: pointer;
 }

input[type="radio"]:checked {
border: 1px solid var(--color-grey);
}

.color-square {
width: 35px;
height: 35px;
display: inline-block;
border-radius: 5px;
}

.font-preview {
padding: 4px 8px;
text-align: center;
text-transform: capitalize;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #ccc; 
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 5px;
  background: linear-gradient(to right, #007aff var(--value), #ccc var(--value));
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: var(--color-blue);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px; 
}

.options-container {
  display: flex;
  gap: 12px
}

.img-selector-button, .color-option  {
position: relative;
}

.img-button {
  width: 60px;
  border-radius: 5px;
  position: absolute;
}

.button-legend, .color-legend {
 opacity: 0;
  transition: opacity .2s ease;
   border: 1px solid var(--color-light-grey);
   border-radius: 5px;
   font-size: 14px;
    padding: 2px 8px;
text-align: center;
position: absolute;
   white-space: nowrap;
    background-color: var(--color-white);
    z-index: 2;
}
.button-legend, .color-legend {
left: 70%;
}
.button-legend {
 top: -20%;
}
.color-legend {
 top: -50%;
}

.img-selector-button:hover .button-legend, .color-option:hover .color-legend  {
opacity: 1
}

.img-selector-button:hover .img-button {
transform: scale(1.05)
}

@keyframes scaleIn {
  from { transform: scale(0.95); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

@media screen and (max-width: 766px) {
.container {
display: flex;
flex-direction: column;
}

.color-picker, .font-picker, .background-picker {
  gap: 10px;
}
}

@media screen and (max-width: 374px) {
.preview-form {
  padding: 22px;
  width: 100vw
}

.preview-figure {
      z-index: 200;
      top: 0
}

textarea {
 min-height: fit-content; 
}

.button.add-to-cart {
      z-index: 300;
      position: fixed;
      bottom: 10px;
      right: 10px
}

.color-picker, .font-picker {
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  flex: 0 0 auto;
  scrollbar-width: none; 
}

 .color-picker::-webkit-scrollbar,  .font-picker::-webkit-scrollbar {
  display: none;
}

.background-square {
width: 50px;
height: 45px;
}

label {
    font-size: 14px; 
}
}
