<div class="container">
<div class="preview-container">
<figure class="preview-figure">

 
 <svg 
 class="ia-image"
    #svgEl
  [attr.viewBox]="'0 0 ' + width + ' ' + height"
  preserveAspectRatio="xMidYMid slice"
  width="100%"
  height="100%"
   xmlns="http://www.w3.org/2000/svg"
  >
   
    <defs>
      
 <filter id="glow-neon" x="-60%" y="-60%" width="220%" height="220%">
 
     <feGaussianBlur in="SourceGraphic" stdDeviation="6" result="b1" />
        <feGaussianBlur in="SourceGraphic" stdDeviation="18" result="b2" />
        <feGaussianBlur in="SourceGraphic" stdDeviation="40" result="b3" />

          <feComponentTransfer in="b3" result="b3s">
    <feFuncA type="linear" slope="0.4"/>
  </feComponentTransfer>    
       
  <feMerge>
  <feMergeNode in="b3s"/>
  <feMergeNode in="b2" />
          <feMergeNode in="b1" />
          <feMergeNode in="SourceGraphic" />
  </feMerge>
</filter>



 <filter id="glow-front" x="-40%" y="-40%" width="180%" height="180%">
 
     <feGaussianBlur in="SourceGraphic" stdDeviation="2" result="b1" />
        <feGaussianBlur in="SourceGraphic" stdDeviation="8" result="b2" />

          <feComponentTransfer in="b2" result="b2s">
    <feFuncA type="linear" slope="0.25"/>
  </feComponentTransfer>    
       
  <feMerge>
  <feMergeNode in="b2s" />
          <feMergeNode in="b1" />
          <feMergeNode in="SourceGraphic" />
  </feMerge>
</filter>

 <filter id="glow-retro" x="-80%" y="-80%" width="260%" height="260%">
 
     <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="b1" />
      <feGaussianBlur in="SourceGraphic" stdDeviation="25" result="b2" /> 

           <feComponentTransfer in="b2" result="b2s">
    <feFuncA type="linear" slope="0.18"/>
  </feComponentTransfer>     
       
  <feMerge>
  <feMergeNode in="b2s" />
  <feMergeNode in="b1" />
    <feMergeNode in="SourceGraphic" /> 
  </feMerge>
</filter>


    </defs>

    @let effectiveBackground = background === 'default' && color.dark ? '/blanco.webp' : background;
  
@if(effectiveBackground !== 'default') {
    <image
      [attr.href]="effectiveBackground" x="0" y="0" width="100%" height="100%"
      preserveAspectRatio="xMidYMid slice"
    />
}
@if(effectiveBackground !== '/blanco.webp') {
<rect x="0" y="0"  width="100%" height="100%" fill="black" [attr.opacity]="background === 'default'  && !color.dark ? 1 : 0.5"/>
}
 
@if(base) {
      <rect
    [attr.x]="overlay.left - 40"
    [attr.y]="overlay.top - 20"
    [attr.width]="overlay.width + 40 * 2"
    [attr.height]="overlay.height + 20 * 2"
    [attr.fill]="product.renderKey === 'aluminio' && lightColor.hex === '#ffffff' ? '#383E42' : baseColor.hex"
    rx="0">
  </rect>
   }

      @if(product.light) {
<radialGradient id="wallGlow"> 
  <stop offset="0%" [attr.stop-color]="glowColor" stop-opacity="0.25"/> 
  <stop offset="100%" [attr.stop-color]="glowColor" stop-opacity="0"/> 
</radialGradient> 
<ellipse cx="50%" cy="50%" rx="35%" ry="25%" fill="url(#wallGlow)" />
 }

    <g #textGroup>
      
        @for (p of textPaths; track p.d) {
             @if (p.d && p.d.startsWith('M')) {

              <!-- este lo llevan todas -->  
        <path   
    [attr.d]="p.d" 
    [attr.transform]="'translate(' + p.x + ',' + p.y + ')'"
     [attr.fill]="!product.light || product.renderKey === 'neon' ?  color.hex  : lightColorSelected && lightColor.hex || '#ffffff'"
     [attr.stroke]="product.renderKey === 'neon' ? 'none'  : 
     (product.name.includes('retro') ? lightColorSelected && lightColor.hex || '#ffffff' : 
     color.hex)"
  [attr.stroke-width]="product.renderKey === 'neon' ? 0 : 
  (product.name.includes('retro') ? 3.5 : 2.5)"    
   [attr.filter]="!product.light ? null:
   product.renderKey === 'neon' ? 'url(#glow-neon)' : 
   (product.name.includes('retro') || product.name.includes('integral')) ? 'url(#glow-retro)' : 'url(#glow-front)'"
    [attr.stroke-linecap]="product.renderKey === 'neon' ? 'round' : 'butt'"
 [attr.stroke-linejoin]="product.renderKey === 'neon' ? 'round' : 'miter'"
 [attr.paint-order]="'stroke'"
    ></path>

<!-- este solo para neón y retro --> 
    @if(product.renderKey === 'neon' || product.name.includes('retro')) {
  <path   
    [attr.d]="p.d"    
     [attr.transform]="product.renderKey === 'neon' ? 'translate(' + p.x + ',' + p.y + ')' :
     'translate(' + (p.x+0.5) + ',' + (p.y-0.5) + ')'"
     [attr.fill]="product.renderKey === 'neon' ? innerColor : color.hex"
     [attr.stroke]="color.hex"
 [attr.stroke-width]="product.renderKey === 'neon' ? 0.2 : 3.5"   
        [attr.stroke-linecap]="product.renderKey === 'neon' ? 'round' : 'butt'"
  [attr.stroke-linejoin]="product.renderKey === 'neon' ? 'round' : 'miter'"
       ></path>
 }}
  }
</g>
     

<g class="measure-overlay">
  <line
    [attr.x1]="overlay.left"
    [attr.y1]="overlay.top"
    [attr.x2]="overlay.left"
    [attr.y2]="overlay.top + overlay.height"
    stroke="#007aff"
    stroke-width="2"
    stroke-dasharray="5 3"
  />
    <line
    [attr.x1]="overlay.left"
    [attr.y1]="overlay.top + overlay.height"
    [attr.x2]="overlay.left + overlay.width"
    [attr.y2]="overlay.top + overlay.height"
    stroke="#007aff"
    stroke-width="2"
    stroke-dasharray="5 3"
  />
    <text
    [attr.x]="overlay.left + overlay.width / 2"
    [attr.y]="overlay.top + overlay.height + 24"
    text-anchor="middle"
    fill="#007aff"
    font-size="14"
    font-weight="400"
  >
    {{ proportionalWidth | number:'1.0-2' }} cm
  </text>
  <text
    [attr.x]="overlay.left - 18"
    [attr.y]="overlay.top + overlay.height / 2"
    text-anchor="middle"
    fill="#007aff"
    font-size="14"
    font-weight="400"
    [attr.transform]="
      'rotate(-90 ' +
      (overlay.left - 18) + ' ' +
      (overlay.top + overlay.height / 2) +
      ')'
    "
  >
    {{ size }} cm
  </text>
</g>

  </svg>



  <ul role="listbox" class="background-picker">
     <li role="option" class="background-square black-background" (click)="selectBackground('default')"></li>

  @for(bg of material?.backgrounds; track i; let i = $index) {
      <li role="option"
      class="background-square"
      [style.background-image]="bg==='default' ? null : 'url(' + bg + ')'"
       (click)="selectBackground(bg)"
       ></li>
  }
 
</ul>




</figure>    
</div>

<form [formGroup]="form"  class="preview-form" (ngSubmit)="onSubmit()"> 
  
      <label for="text">Texto del rótulo (añade líneas pulsando Enter):</label> 
      <textarea  class="form-field" placeholder="Tu texto aquí" formControlName="text" id="text" required></textarea>
    
    <label for="font">Elige el diseño de letras:</label> 
     <div class="font-picker">

 @for(font of visibleFonts; track i; let i = $index) {
    <input
      type="radio"
      [id]="'font-' + i"
      formControlName="font"
      [value]="font"
      hidden>

    <label
      [for]="'font-' + i"
      class="font-preview"
      [ngStyle]="{'font-family': font.name}"
       >{{font.name.includes(' ') ? font.name.split(' ')[0] : font.name.split('_')[0]}}</label>
  }

  <span role="button" class="fonts-expand more" (click)="toggleFonts()"> 
    {{visibleFontsCount < (material?.fonts?.length || 0) ? '&#9660;' : '&#9650;'}}  
  </span>

     </div>
  
  @if(product.renderKey === 'neon') {
      
<label for="color"> Selecciona un color:</label> 
  <div class="color-picker">
  @for(color of material?.colors; track i; let i = $index) {
    
    @if(color.uses?.includes('letra')) {
      <div class="color-option">
      <input
      type="radio"
      [id]="'color-' + i"
      formControlName="color"
      [value]="color"
      hidden>

    <label
      [for]="'color-' + i"
      class="color-square"
      [style.background]="color.hex"
       ></label>
      <span class="color-legend">{{color.name}}</span>
    </div>
    }

  }
  </div>
  }


@if(product.renderKey !== 'neon') {
  <span>Elige los colores:</span>
  <div class="options-container">
@if(product.renderKey !== 'acero') {
       <div class="img-selector-button" (click)="openModal('color')" [class.selected]="colorSelected" [style.background]="color.hex">
        <img  class="img-button" [src]="product.name.includes('retro') ? '/color-frontal.jpg' : '/color-trasera.jpg'" alt="boton-color-letra-corporea">
   <span class="button-legend">Color letras</span> 
    </div>
    }

  @if(product.light && product.renderKey !== 'mini') {
     <div class="img-selector-button" (click)="openModal('lightColor')" [class.selected]="lightColorSelected" [style.background]="lightColor.hex">
       <img class="img-button" [src]="product.name.includes('retro') ? '/color-trasera.jpg' : '/color-frontal.jpg'" alt="boton-color-luz-letra-corporea">
   <span class="button-legend">Color luz</span> 
    </div>
 }  
  <div class="img-selector-button" (click)="openModal('base')" [class.selected]="base" [style.background]="baseColor.hex">
   <img class="img-button" src="/base.jpg" alt="boton-base-letra-corporea">
    <span class="button-legend">Base de aluminio opcional</span> 
    </div>
  </div>

}

@if(activeModal) {
   <app-color-modal 
     [form]="form"
   [activeModal]="activeModal" [material]="material!"
   [lettersHeight]="size"
   [lettersWidth]="proportionalWidth"
    (cancel)="cancelModal()"
  (closed)="activeModal = null"
    (removeBaseSelected)="removeBase()">
   ></app-color-modal>
}

@if(product.variants?.length) {
<label for="size">Elige la altura de las letras: {{ form.get('size')?.value < font.minHeight ? font.minHeight : form.get('size')?.value}} cm</label>
 
<input #rangeEl 
type="range" 
  step="1"
[min]="font.minHeight" 
[max]="material?.maxHeight || 200" 
formControlName="size" 
id="size">
 
<p>Precio <span class="price">{{ finalPrice | price }}</span> IVA Incl.</p>
<button type="submit" class="button" [disabled]="form.invalid">Añadir al carrito</button> 
}



</form>
</div>
<p class="ia-advice">Esta imagen es una simulación. El producto real puede variar ligeramente.</p>