:host {
  width: 70%;
  padding-top: 52px;
}

.container {
display: grid;
grid-template-columns: 50% 50%;
justify-items: center;
}

.preview-container {
    width:100%;
     height: 65vh;
    background-color: var(--color-extra-light-grey);
    align-items: center;
    display: flex;
     flex-direction: column;
}

.preview-figure {
  width:100%;
  height: 100%;
position: relative;
}

.ia-image {
    width: 100%;
    height: 100%;;
}

text {
  transition: font-size 0.2s ease;
}

.ia-advice {
padding: 6px;
text-align: center;
background-color: var(--color-black);
color: var(--color-white);
width: 100%;
}

.preview-form {
    padding: 32px;
     width:100%; 
      background-color: var(--color-extra-light-grey);
      max-height: 65vh;
    overflow-y: auto;
      position: relative;
}

textarea {
 min-height: 100px; 
 border: none
}

textarea:focus-visible {
 border: 1px solid #e2e2e2;
}

.color-picker, .font-picker {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.background-picker {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 14px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.black-background {
  background-color: black;
}

.color-picker label, .font-picker label, .background-picker li, .img-selector-button {
 border: 1px solid #e2e2e2;
  border-radius: 5px
 }

.img-selector-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
width: 70px;
height: 70px;
 }

.fonts-expand {
border: 1px solid var(--color-grey);
border-radius: 5px;
padding: 4px 8px;
}

.fonts-expand:hover {
color: var(--color-black);
border: 1px solid  var(--color-black);
cursor: pointer;
}

 .color-picker label:hover, .font-picker label:hover, .background-picker li:hover, .img-selector-button:hover {
 border: 1px solid var(--color-grey);
 cursor: pointer;
 }

 input[type="radio"]:checked + .color-square, input[type="radio"]:checked + .background-square, input[type="radio"]:checked + .font-preview {
border: 1px solid var(--color-grey);
}

.color-square {
width: 35px;
height: 35px;
display: inline-block;
border-radius: 5px;
}

.background-square {
width: 75px;
height: 60px;
background-size: 250%; 
}

.font-preview {
padding: 4px 8px;
text-align: center;
white-space: nowrap;
 text-transform: capitalize;
 width:30%;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #ccc; 
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 5px;
  background: linear-gradient(to right, #007aff var(--value), #ccc var(--value));
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: var(--color-blue);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px; /* centrar */
}

.modal {
   background: var(--color-white);
  padding: 32px;
 width: 90%;
  max-width: 480px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  overflow: hidden;
  animation: scaleIn 0.2s ease;
  display: flex;
  flex-direction: column;
}

.options-container {
  display: flex;
  gap: 12px
}

.img-button {
  width: 60px;
  border-radius: 5px;
}

.button-legend, .color-legend {
 opacity: 0;
  transition: opacity .2s ease;
   border: 1px solid #e2e2e2;
   border-radius: 5px;
   font-size: 14px;
    padding: 2px 4px;
text-align: center;
width: fit-content;
position: absolute;
   white-space: nowrap;
    background-color: var(--color-white);
    z-index: 2;
}

.button-legend {
 top: -80px;
  left: 40px;
}

.color-legend {
 top: -24px;
  left: 24px;
}

.img-selector-button:hover  {
     display: inline-block; 
}

.img-selector-button:hover .button-legend {
    position: relative;
  display: inline-block; 
  opacity: 1
}

.img-selector-button:hover .img-button {
  width: 69px;
height: 69px
}

.color-option {
position: relative;
  display: inline-block;
}

.color-option:hover .color-legend {
  opacity: 1
}

@keyframes scaleIn {
  from { transform: scale(0.95); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

@media screen and (max-width: 1300px) {
  :host {
width: 100%
}
}

@media screen and (max-width: 766px) {
  :host {
    display: flex;
flex-direction: column;
}

.container {
display: flex;
flex-direction: column;
}

.color-picker, .font-picker, .background-picker {
  gap: 10px;
}
.font-preview {
  width: fit-content;
  }
}

@media screen and (max-width: 374px) {
:host {
  padding-top: 0;
}

.preview-container {
  height: 55vh;
}

.preview-form {
  padding: 22px
}

.preview-figure {
      z-index: 200;
      top: 0
}

textarea {
 min-height: fit-content; 
}

.button.add-to-cart {
      z-index: 300;
      position: fixed;
      bottom: 10px;
      right: 10px
}

.color-picker, .font-picker {
    overflow-x: auto;
      scroll-behavior: smooth;
       flex: 0 0 auto;
           scrollbar-width: none; 
}

 .color-picker::-webkit-scrollbar,  .font-picker::-webkit-scrollbar {
  display: none;
}

.color-picker, .font-picker {
  flex-wrap: nowrap;
}

.background-square {
width: 50px;
height: 45px;
background-size: 250%; 
}
label {
    font-size: 14px; 
}
}
