<div class="preview-container">
<figure class="preview-figure">


 <svg 
 class="ia-image"
    #svgEl
    [attr.width]="width"
    [attr.height]="height"
    xmlns="http://www.w3.org/2000/svg"
  >
   @if (renderKey === 'neon') {
    <defs>     
       <filter id="glow" x="-60%" y="-60%" width="220%" height="220%">
        <feGaussianBlur in="SourceGraphic" stdDeviation="6" result="blur1" />
        <feGaussianBlur in="SourceGraphic" stdDeviation="18" result="blur2" />
        <feGaussianBlur in="SourceGraphic" stdDeviation="40" result="blur3"/>
          <feComponentTransfer in="blur3" result="blur3soft">
    <feFuncA type="linear" slope="0.4"/>
  </feComponentTransfer>
        <feMerge>
           <feMergeNode in="blur3soft"/>
          <feMergeNode in="blur2" />
          <feMergeNode in="blur1" />
          <feMergeNode in="SourceGraphic" />
        </feMerge>
      </filter>    
    </defs>
  } 

    <image
      [attr.href]="background"
      width="100%"
      height="100%"
      preserveAspectRatio="xMidYMid slice"
    />

   <rect x="0" y="0" width="100%" height="100%" fill="black" opacity="0.6"></rect>
  
    @if(text.length !== 0 && material?.light) {
<radialGradient id="wallGlow"> <stop offset="0%" [attr.stop-color]="color" stop-opacity="0.25"/> 
  <stop offset="100%" [attr.stop-color]="color" stop-opacity="0"/> 
</radialGradient> 
}

<ellipse cx="50%" cy="50%" rx="35%" ry="25%" fill="url(#wallGlow)" />
       
<text
    #textEl
      x="50%"
      y="50%"
      text-anchor="middle"
     dominant-baseline="middle"
      [attr.fill]="color"
      filter="url(#glow)"
    >
     @for(line of lines; track i; let i = $index) {
      <tspan   [ngStyle]="{'font-family': font, 'font-size': fontSize}"
        x="50%"
        [attr.dy]="i === 0 ? firstDy : fontSize*1.2 + 'px'"
       
      >
        {{ line }}
      </tspan>
      }
    </text>
 
    
     @if(material?.light) {
     <text
      x="50%"
      y="50%"
      text-anchor="middle"
      dominant-baseline="middle"
      [attr.fill]="innerColor"
    >

    @for(line of lines; track i; let i = $index) {
      <tspan  [ngStyle]="{'font-family': font, 'font-size': fontSize}"     x="50%"
       [attr.dy]="i === 0 ? firstDy : fontSize*1.2 + 'px'"
      >
        {{ line }}
      </tspan>
      }
    </text> 
    }
  
  </svg>

<p class="ia-advice">Esta imagen ha sido generada por IA. El producto real puede variar ligeramente.</p>
</figure>    
</div>

<form  [formGroup]="form"  class="preview-form"> 
  
      <label for="text">Texto del rótulo:</label> 
      <small>Pulsa Enter si quieres añadir una línea</small>
      <textarea  class="form-field" placeholder="Escribe aquí tu texto" formControlName="text" id="text" required></textarea>
    
    <label for="font">Elige el diseño de letras:</label> 
     <div class="font-picker">
@for(font of material?.fonts; track i; let i = $index) {
    <input
      type="radio"
      [id]="'font-' + i"
      formControlName="font"
      [value]="font"
      hidden>

    <label
      [for]="'font-' + i"
      class="font-preview"
      [ngStyle]="{'font-family': font}"
       >{{font}}</label>
  }

     </div>
  
  <label for="color">Selecciona un color:</label> 

  <div class="color-picker">
  @for(color of material?.colors; track i; let i = $index) {
    <input
      type="radio"
      [id]="'color-' + i"
      formControlName="color"
      [value]="color"
      hidden>

    <label
      [for]="'color-' + i"
      class="color-circle"
      [style.background]="color"
       ></label>
  }
</div>

<label for="background" class="label">Elige un fondo:</label> 

  <div class="background-picker">
  @for(background of material?.backgrounds; track i; let i = $index) {
    <input
      type="radio"
      [id]="'background-' + i"
      formControlName="background"
      [value]="background"
      hidden>

    <label
      [for]="'background-' + i"
      class="background-square"
      [style.background-image]="'url(' + background + ')'"
       ></label>
  }
</div>

@if(variantes.length !== 0) {
<label for="size">Elige la altura de las letras:</label>
<input type="range" min="10" max="150" value="10" formControlName="size" id="size">
<p>Precio   {{ getPrice () }} € IVA Incl.</p>
}

<!-- <button class="button secondary-button" type="submit" [disabled]="form.invalid">Añadir al carrito</button> -->
</form>

