<div class="video-container">

    <iframe
    height="460" width="818"
  src="https://www.youtube.com/embed/UETVNjr7ozc?autoplay=1&mute=1&loop=1&playlist=UETVNjr7ozc&playsinline=1&controls=0&rel=0"
  class="video-banner"
  title="YouTube video player"
  frameborder="0"
  allow="autoplay; encrypted-media; picture-in-picture"
  allowfullscreen>
</iframe>
</div>

<div class="text-container">

    <p class="small-title fuchsia">{{ title }} </p>
    <p class="subtitle">{{ subtitle }} </p>
    <p class="text white">{{ description }}</p>

</div>