<ul class="social-media-posts">
<li class="social-media-post">
  <blockquote class="tiktok-embed" data-video-id="7559534421406141718">
      <section>Video TikTok</section>
</blockquote>
</li>

<li class="social-media-post">
<blockquote class="tiktok-embed" data-video-id="7568540440576773398">  <section>Video TikTok</section>
</blockquote>
</li>

<li class="social-media-post">
<blockquote class="tiktok-embed" data-video-id="7560722152396164374">  <section>Video TikTok</section>
</blockquote>
</li>

<li class="social-media-post">
<blockquote class="tiktok-embed" data-video-id="7530663704933780758">  <section>Video TikTok</section>
</blockquote>
</li>
</ul>