<ul class="social-media-posts">
<li class="social-media-post">
    <iframe class="tiktok-embed" 
  src="https://www.tiktok.com/embed/v2/7559534421406141718"
  width="325"
  height="500"
  frameborder="0"
  allowfullscreen
  loading="lazy">
</iframe>

</li>
  <li class="social-media-post">

<iframe class="tiktok-embed" 
  src="https://www.tiktok.com/embed/v2/7568540440576773398"
  width="325"
  height="500"
  frameborder="0"
  allowfullscreen
  loading="lazy">
</iframe>

</li>

<li class="social-media-post">
  <iframe class="tiktok-embed" 
  src="https://www.tiktok.com/embed/v2/7560722152396164374"
  width="325"
  height="500"
  frameborder="0"
  allowfullscreen
  loading="lazy">
</iframe>

</li>

<li class="social-media-post">
    <iframe class="tiktok-embed" 
  src="https://www.tiktok.com/embed/v2/7530663704933780758"
  width="325"
  height="500"
  frameborder="0"
  allowfullscreen
  loading="lazy">
</iframe>

</li>


</ul>