<main>

  @if(productSelectedData.renderKey && productSelectedData.variants) {
<section class="personalizador-section full-width-section">
  <h1 class="centered-text"> {{ productSelectedData.name }}</h1>
  <h2 class="subtitle blue"> Haz tu pedido online</h2>
  @if(productSelectedData.renderKey ==='proyector') {
    <app-gobo-render [product]="productSelectedData"></app-gobo-render>
  }  @else {
    <app-personalizdor [product]="productSelectedData" ></app-personalizdor>
  }
  </section>
  }

  @if (productSelectedData) {
  <section class="product-details">
    <div class="main-product-details">
     
       <figure class="product-images">
      
        @if(productSelectedData.images.length > 1) {
          <div class="secondary-images-wrapper" >
        <ul class="secondary-images" #imagesCarousel>
          @for(
          imageUrl of categoryName === 'Letras corpóreas' && productSelectedData.light ? 
          productSelectedData.images.slice(2,8) :
          productSelectedData.images
          ; track $index; let i = $index) {
<li>
            <img
              class="product-image"
              [class.active]="i === mainImageIndex"
              (click)="updateProductDetails(i)"
              [src]="imageUrl"
              [alt]="productSelectedData.slug+'-'+i"
            />
            
          </li>
          }
        </ul>
        @if(categoryName === 'Letras corpóreas' && productSelectedData.light ? productSelectedData.images.length > 5 : productSelectedData.images.length > 3) {
    <span class="arrows-circle" [class.up]="isAtBottom" role="button"  (click)="scrollToTarget()">
  <svg class="arrows" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
    <!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.-->
    <path [attr.d]="isAtBottom ? upArrow : downArrow"/></svg>   
    </span>  
    }
      </div>
      }
          @if(categoryName === 'Letras corpóreas' && productSelectedData.light && showCompare) {
            <app-image-compare [images]="productSelectedData.images.slice(0, 2)"></app-image-compare>
}
        <img
        [ngClass]="{'solo-movil': categoryName === 'Letras corpóreas' && productSelectedData.light && showCompare }"
          class="main-image"
          [src]="productSelectedData.images[mainImageIndex]"
          [alt]="productSelectedData.slug"
        />

      </figure> 
   

      <div class="product-texts">
    
      <h2 class="small-title blue-line">{{ productSelectedData.name }}</h2>
      
 <div class="product-description left" [innerHTML]="productSelectedData.description"></div>

         @if(!productSelectedData.renderKey) {

          @if(productSelectedData.variants && productSelectedData.variants.length === 0) {
      <app-button class="left"
          [buttonText]="'Pedir presupuesto'"
          [buttonLink]="'/contacto'"
        ></app-button> }
        @else {       
<div class="variant-picker left">
 @for(variant of productSelectedData.variants; track i; let i = $index) {
    <input
      [(ngModel)]="selectedVariant"
      (ngModelChange)="onVariantChange($event)"
      [value]="variant"
      type="radio"
      [id]="'variant-' + i"
      name="variant"
      hidden
      >

    <label
      [for]="'variant-' + i"
      class="variant-preview"
       >{{variant.name}}</label>
  }
     </div>    
   
          <p class="left">Precio <span class="price">{{ selectedVariant.price | price }}</span> IVA Incl.</p>

           <button class="add-cart-left button" (click)="onAddToCart()">Añadir al carrito</button>
        }

         }

  
      </div>
    </div>

  <div class="secondary-product-details">

      <h2 class="small-title blue-line">Más información</h2>

      <h4 class="left blue">
        {{
          productSelectedData.name.charAt(0).toUpperCase() +
            productSelectedData.name.slice(1)
        }}
      </h4>

         <ul class="selected-product-details left">
        <li>
          <h4 class="orange">Material</h4>
          <div [innerHTML]="productSelectedData.material"></div>
        </li>
        <li>
          <h4 class="fuchsia">Diseño</h4>
           <div [innerHTML]="productSelectedData.design"></div>
        </li>
        <li>
          <h4 class="green">Instalación</h4>
           <div [innerHTML]="productSelectedData.installation"></div>
        </li>
        <li>
          <h4 class="blue">Aplicación</h4>
           <div [innerHTML]="productSelectedData.application"></div>
        </li>
      </ul>
 
     

    </div>

  
  </section>
  

  <section class="related-products full-width-section dark-section">
    <h2 class="subtitle centered-text">
      Más {{ categoryLength < 2 ? (productSelectedData.light ? 'rótulos luminosos' : 'rótulos sin luz') : this.categoryName }} que te pueden interesar
    </h2>
    <app-items-carousel [productLight]="productSelectedData.light"></app-items-carousel>
  </section>
  }
</main>
