.product-details {
  margin: auto;
}

.main-product-details {
  display: flex;
  gap: 74px;
  margin: auto;
}

.secondary-product-details {
  padding-top: 52px
}

.product-images {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap:10px;
  }

  .product-texts {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap:30px;
  }

  .main-image {
    border-radius: 10px;
    object-fit: cover;
     width:100% 
  }


  .secondary-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width:100%;
    height: auto;
  }


  .product-image {
    border-radius: 10px;
    object-fit: cover;
    margin: auto;
    width: 100%;
    height: 100%; 
    opacity: 70%; 
  }

  .product-image:hover,  .product-image.active {
    opacity: 100%;
  }

  .products-details {
   margin: auto;
  }

  .product-types {
    display: flex;
    gap:12px;
  }

  .selected-product-details {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 18px
  }

  .selected-product-details > li {
       display: flex;
    flex-direction: column;
    gap: 14px
  }
 
  .description-title {
  font-weight: 600;
  font-size: 18px;
}
  .related-products {
    display: flex;
    flex-direction: column;
    margin: auto; 
    align-items: center
  }

  @media screen and (max-width: 766px) {
  .main-product-details {
    flex-direction: column;
    gap: 24px;
  }

  .product-images, .product-texts {
  width: 100%
}
 
}