<main>

  @if(productSelectedData.renderKey && productSelectedData.variants) {
<section class="personalizador-section full-width-section">
  <h1 class="centered-text"> {{ productSelectedData.name }}</h1>
  <h2 class="subtitle blue"> Haz tu pedido online</h2>
  <app-personalizdor [product]="productSelectedData" ></app-personalizdor>
  </section>
  }

  @if (productSelectedData) {
  <section class="product-details">
    <div class="main-product-details">
      @if(productSelectedData.light && productSelectedData.renderKey && productSelectedData.renderKey !== 'neon') {
           <figure class="product-images">
         <app-image-compare [images]="productSelectedData.images"></app-image-compare>
         </figure>
         } @else {
       <figure class="product-images">
        <img
          class="main-image"
          [src]="productSelectedData.images[mainImageIndex]"
          [alt]="productSelectedData.slug"
        />
@if(productSelectedData.images.length > 1) {
        <ul class="secondary-images">
          <li
            *ngFor="let imageUrl of productSelectedData.images; let i = index"
          >
            <img
              class="product-image"
              [class.active]="i === mainImageIndex"
              (click)="updateProductDetails(i)"
              [src]="imageUrl"
              [alt]="productSelectedData.slug+'-'+i"
            />
          </li>
        </ul>
        }
      </figure> 
   }

      <div class="product-texts">
        <h1 class="small-title blue-line">{{ productSelectedData.name }}</h1>
        <p class="left" *ngFor="let paragraph of productSelectedData.description.split('.'); let last = last">
          {{ paragraph }}
<span *ngIf="!last">.</span>
        </p>

         @if(!productSelectedData.renderKey) {

          @if(productSelectedData.variants && productSelectedData.variants.length === 0) {
      <app-button class="left"
          [buttonText]="'Pedir presupuesto'"
          [buttonLink]="'/contacto'"
        ></app-button> }
        @else {
          <!-- <p>Aquí tiene que elegir variante/size</p>
          <p class="price">Aquí precio del variante</p> -->

           <button class="button">Añadir al carrito</button>
        }

         }

  
      </div>
    </div>

    <div class="secondary-product-details">
      <h2 class="small-title blue-line">Más información</h2>
      <h4 class="left blue">
        {{
          productSelectedData.name.charAt(0).toUpperCase() +
            productSelectedData.name.slice(1)
        }}
      </h4>

      <ul class="selected-product-details left">
        <li>
          <h4 class="orange">Material</h4>
          <p>{{ productSelectedData.material }}</p>
        </li>
        <li>
          <h4 class="fuchsia">Diseño</h4>
          <p>{{ productSelectedData.design }}</p>
        </li>
        <li>
          <h4 class="green">Instalación</h4>
          <p>{{ productSelectedData.installation }}</p>
        </li>
        <li>
          <h4 class="blue">Aplicación</h4>
          <p>{{ productSelectedData.application }}</p>
        </li>
      </ul>
    </div>
  </section>
  

  <section class="related-products full-width-section dark-section">
    <h2 class="subtitle centered-text">
      Más {{ this.categoryName }} que te pueden interesar
    </h2>
    <app-items-carousel></app-items-carousel>
  </section>
  }
</main>
