html {
  scroll-behavior: smooth;
}

:root {
  /* --color-black: #000300;
  --color-blue: #02a9ea;
  --color-fuchsia: #ff01fb;
  --color-lima: #FAFF00; */
  
  --color-black: #000300;
  --color-purple: rgba(155, 81, 224, 1);
  --color-green: rgb(153, 253, 132);  
  /* --gradient-new:  linear-gradient(-180deg, rgba(155, 81, 224, 1) 0%, rgba(0, 208, 132, 1) 100%); */
  --gradient-new:  linear-gradient(-180deg, rgba(155, 81, 224, 1) 0%, rgb(153, 253, 132) 100%);
  --gradient-left:  linear-gradient(90deg,rgba(155, 81, 224, 1) 0%, rgba(0, 208, 132, 1) 100%);

  --color-grey: #e2e2e2;
  --color-white: #ffffff;
  --color-red: #ff3b3b;
  
  --gradient-blue: radial-gradient(1400px circle at 90% 50%, #02A9EA 0%, transparent 65%),
#000300;
--gradient-fuchsia: linear-gradient(
  180deg,
 #000300 0%,
  #140018 30%,
  #3a003f 55%,
  #7a0080 75%,
  #c000c0 90%,
  #ff01fb 100%
);
  --white-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7); 
  --black-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  --blue-shadow: 2px 2px 4px rgba(2, 169, 234, 0.5); 
   --hover-scale: scale(1.01); 
  --smooth-scale: transform 0.3s ease;


 font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
     font-family: "Roboto Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    font-size: 16px; 
    line-height: 22px;
}

body {
background: var(--color-white);
color: var(--color-black)
}

main {
  padding-top: 19vh;
  min-height: 70vh;
}

.main-policy-page {
  width: 90%;
  margin: auto
}


.centered-main {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

section {
  padding: 62px 0;
  width: 80%
}


.centered-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px
  }

a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    padding-left: 0;
  }
  
  li {
    list-style-type: none;
  }

  
  /* h1 debería ser page-title
  h2 title
  h3 subtitle
  h4
  */

   h1, .page-title, .title, .subtitle, h4 {
     font-family: "Montserrat", sans-serif; 
    text-transform: uppercase; 
     letter-spacing: 1px;
    }
   h1, .page-title, .title {
      font-weight: 900;  
    }
  h1, .page-title {
    font-size: 50px;
    line-height: 60px
   }
   .title {
    font-size: 30px;
    line-height: 40px
  }
  .subtitle {
    padding: 22px 0;
    font-size: 20px;
       line-height: 30px;
       font-weight: 800; 
  }

  h4 {
    font-size: 15px;
    line-height: 25px;
    font-weight: 800;
      }

  .element-title {
    font-size: 20px;
    padding: 20px;
    font-weight: 500;
  }
  .element-title::first-letter {
    text-transform: uppercase;
   }
   .policy-title {
    padding: 0
}
   .centered-text {
    text-align: center;
   }

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  margin: auto;
  }
  
  .texts-policy-page {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 52px;
}

button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif; 
} 

button:disabled {
  cursor: auto;
}

.button {
  padding: 19px 31px; 
  color: var(--color-white);
  border: 2px solid var(--color-white);
   text-transform: uppercase;
width: fit-content;
display: block; 
  margin-top: 10px;
    font-family: "Montserrat", sans-serif; 
    font-size: 13px;
  font-weight: 900;
  letter-spacing: 3.5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
   color: var(--color-black);
background-color: var(--color-white);
}

.button:disabled, .button:disabled:hover {
  color: var(--color-grey);
  border: 2px solid var(--color-grey);
  background-color: var(--color-white)
}

.white-button {
    color: var(--color-black);
    border: 2px solid var(--color-black);
    background-color: var(--color-white)
}

.white-button:hover {
    background-color: var(--color-black);
     color: var(--color-white);
}

form {
  padding: 22px;
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-direction: column;
}


.form-field {
  padding: 12px 22px;
  width: 100%;
  margin-top: 6px;
  border: 1px solid var(--color-black)
}

.contact-label {
  margin-bottom: 6px;
}

.buttons-container {
  align-self: center;
   display: flex;
    gap: 12px
}

.error-message {
  color: var(--color-red);
  text-align: left;
  padding: 6px 22px 12px 22px;
}

.submitted-message {
  color: var(--color-blue);
  padding: 6px 22px 12px 22px;
  font-size: 18px;
}

  .products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  justify-content: center;
  gap: 10px;
  padding: 30px 0;
  width:90vw
    }

  .product-card {
  /* max-width: 250px; */
  margin: 10px;
  display: flex;
  flex-direction: column;
}

 .product-card:hover {
  cursor: pointer;
}

.product-card a {
  height: 100%;
}


 @media screen and (max-width: 1300px) {
    section {
      width: 90%
    }
     }
  
 @media screen and (max-width: 766px) {
    main {
  padding-top: 21.9vh;
}

    section {
      padding: 15px 0;
    }
    
    h1, .page-title {
      font-size: 34px;
      line-height: 44px;
    } 
  .title {
    font-size: 30px;
    line-height: 40px;
  } 
  .element-title {
    font-size: 18px;
    line-height: 28px;
  } 

  .products-list {
    padding: 0
  }

  .advantages-list {
    width:80%
  }

  form {
    padding: 20px;
    width: 90vw
  }
  }