html {
  scroll-behavior: smooth;
}

:root {
  /* --color-black: #000300;
  --color-blue: #02a9ea;
  --color-fuchsia: #ff01fb;
  --color-lima: #FAFF00; */

  --color-blue: #007aff;
  --color-orange: rgb(242, 102, 47);
  --color-fuchsia: rgb(250, 43, 126);
  --color-green: #23ddac;
  --color-black: #060a0d;
  --color-grey: #878787;
  


  --color-purple: rgba(155, 81, 224, 1);
  --gradient-new:  linear-gradient(-180deg, rgb(0, 3, 0) 0%, rgba(155, 81, 224, 1) 100%);
  --gradient-left:  linear-gradient(90deg,rgb(0, 3, 0) 0%, rgba(155, 81, 224, 1) 100%);

  --color-light-grey: #e2e2e2;
  --color-white: #ffffff;
  --color-red: #ff3b3b;
  
 
  --white-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7); 
  --black-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  --blue-shadow: 2px 2px 4px rgba(2, 169, 234, 0.5); 
   --hover-scale: scale(1.01); 
  --smooth-scale: transform 0.3s ease;


 font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
     font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
    font-size: 16px; 
    line-height: 26px;
}


body {
background: var(--color-white);
  color: var(--color-grey);
}

main {
  padding-top: 19vh;
  min-height: 70vh;
}

.centered-main {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

section {
  padding: 62px 0;
  width: 80%
}


.centered-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  .dark-section {
    background-color: var(--color-black)
  }

  .full-width-section {
     width: 100%
  }

a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    padding-left: 0;
  }
  
  li {
    list-style-type: none;
  }

  .title {
    font-weight: 400;
      }


     h1, .home-title, .title, .small-title {
text-transform: uppercase; 
color: var(--color-black);
 }

 .blue-line {
  border-left: 4px solid var(--color-blue);
padding-left: 56px
 }
.left {
  padding-left: 60px!important
}
  
   .home-title {
      font-family: "Rubik", sans-serif; 
      font-weight: 500;  
      font-size: 80px;
    line-height: 90px
  }

    h1 {
     font-family: "Rubik", sans-serif; 
       font-weight: 500;  
         font-size: 60px;
    line-height: 63px
  }

    .subtitle {
       text-transform: uppercase; 
    font-family: "Abel", sans-serif; 
    font-size: 30px;
    font-weight: 400; 
    padding: 22px 0;
  }

  .small-title {
    font-size: 40px;
        line-height: 40px;
       font-family: "Rubik", sans-serif; 
        font-weight: 500;  
  }

  h4 {
    font-family: "Abel", sans-serif; 
    font-size: 20px;
    margin: 11px 0 28px 0;
        letter-spacing: 2px;
        text-transform: uppercase; 
      }

  .element-title {
    font-size: 20px;
    padding: 20px;
    font-weight: 500;
  }
  .element-title::first-letter {
    text-transform: uppercase;
   }
  
   .centered-text {
    text-align: center;
   }

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  margin: auto;
  }
  
  button {
  font-family: "Abel", sans-serif; 
  cursor: pointer;
} 

button:disabled {
  cursor: auto;
}

.button {
  padding: 0 28px; 
  color: var(--color-white);
  background-color: var(--color-blue);
   text-transform: uppercase;
width: fit-content;
display: block; 
  margin-top: 10px;
    font-family: "Abel", sans-serif; 
    font-size: 12px;
    line-height: 36px;
    height: 36px;
  font-weight: 400;
  letter-spacing: 3px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 50px;
}

.button:hover {
background-color: var(--color-black);
}

.dark-button .button:hover  {
  background-color: var(--color-white);
  color: var(--color-black)
}

.button:disabled, .button:disabled:hover {
  color: var(--color-light-grey);
  border: 2px solid var(--color-light-grey);
  background-color: var(--color-white)
}

.white-button {
    color: var(--color-black);
    border: 2px solid var(--color-black);
    background-color: var(--color-white)
}

.white-button:hover {
    background-color: var(--color-black);
     color: var(--color-white);
}

form {
  padding: 22px;
  display: flex;
  gap: 12px;
  flex-direction: column;
}


.form-field {
  padding: 12px 22px;
  width: 100%;
  margin-top: 6px;
  border: 1px solid var(--color-grey);
  border-radius: 10px
}

.contact-label {
  margin-bottom: 6px;
}

.buttons-container {
  align-self: center;
   display: flex;
    gap: 12px
}

.error-message {
  color: var(--color-red);
  text-align: left;
  padding: 6px 22px 12px 6px;
}

.submitted-message {
  color: var(--color-blue);
  padding: 6px 22px 12px 22px;
  font-size: 18px;
}

  .products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  justify-content: space-around;
  padding: 30px 0;
  width:90vw
    }

  .product-card {
  max-width: 190px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

 .product-card:hover {
  cursor: pointer;
}

.product-card a {
  height: 100%;
}

.white {
  color: var(--color-white)
}

.black {
    color: var(--color-black)
}

.blue {
  color: var(--color-blue)
}

.green {
 color: var(--color-green)
}

.orange {
 color: var(--color-orange)
}

.fuchsia {
  color: var(--color-fuchsia)
}

.blue-shadow {
  box-shadow: 0 10px 60px 0px #4091fb;
}

.green-shadow {
  box-shadow: 0 10px 60px 0px #7fe7c6;
}

.fuchsia-shadow {
  box-shadow: 0 10px 60px 0px #df8cc4;
}

.big-icon svg {
  color: var(--color-black);
     height: 78px;
     width: 100px;
     margin-bottom: 24px
}

.big-icon svg path {
   stroke-width: 30;
}

.small-icon svg {
     height: 28px;
}

.small-icon svg path {
  stroke-width: 40;
}

.small-icon:hover {
  color: var(--color-white)
}

.price {
    font-family: "Abel", sans-serif; 
        font-size: 24px;
       padding: 6px;
       color: var(--color-black);
}



 @media screen and (max-width: 1300px) {
    section {
      width: 90%
    }
     }

      @media screen and (max-width: 1100px) {
    main {
  padding-top: 21.5vh;
}
}
  
 @media screen and (max-width: 766px) {

    section {
      padding: 15px 0;
    }
    
    h1, .home-title {
      font-size: 34px;
      line-height: 44px;
    } 
  .title {
    font-size: 30px;
    line-height: 40px;
  } 
  .element-title {
    font-size: 18px;
    line-height: 28px;
  } 

  .products-list {
    padding: 0
  }

  .advantages-list {
    width:80%
  }

  form {
    padding: 20px;
    width: 90vw
  }
  }

