html {
  scroll-behavior: smooth;
}

:root {
  --color-black: #000300;
  --color-blue: #02a9ea;
  --color-fuchsia: #ff01fb;
  --color-lima: #FAFF00;
  --color-grey: #e2e2e2;
  --color-white: #ffffff;
  --color-red: #ff3b3b;;
  --gradient-blue: radial-gradient(1400px circle at 90% 50%, #02A9EA 0%, transparent 65%),
#000300;
--gradient-fuchsia: linear-gradient(
  180deg,
 #000300 0%,
  #140018 30%,
  #3a003f 55%,
  #7a0080 75%,
  #c000c0 90%,
  #ff01fb 100%
);
  --white-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7); 
  --black-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  --blue-shadow: 2px 2px 4px rgba(2, 169, 234, 0.5); 
   --hover-scale: scale(1.01); 
  --smooth-scale: transform 0.3s ease;


 font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: "Figtree", serif;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  font-style: normal;
    font-size: 16px; 
    line-height: 1.5em;
}

body {
background-color: var(--color-white);
color: var(--color-black)
}

main {
  padding-top: 19vh;
  min-height: 70vh;
}

.main-policy-page {
  width: 90%;
  margin: auto
}


.centered-main {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

section {
  padding: 62px 0;
  width: 80%
}


.centered-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px
  }

a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    padding-left: 0;
  }
  
  li {
    list-style-type: none;
  }

  /* h1 y h2 */
  .page-title {
    font-size: 36px;
    /* text-transform: uppercase; */
   }
   .title {
    font-size: 34px;
  }
  .subtitle {
    padding: 22px 0;
    font-size: 26px;
    /* text-transform: uppercase; */
  }
  .element-title {
    font-size: 20px;
    padding: 20px;
    font-weight: 500;
  }
  .element-title::first-letter {
    text-transform: uppercase;
   }
   .policy-title {
    padding: 0
}
   .centered-text {
    text-align: center;
   }

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  margin: auto;
  }
  
  .text-title {
    padding: 12px 0;
  font-size: 22px;
  }

  .texts-policy-page {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 52px;
}

button {
  cursor: pointer;
} 

button:disabled {
  cursor: auto;
}

.button {
  padding: 15px 35px; 
  color: var(--color-white);
  border-radius: 10px;
  text-transform: uppercase;
  transition: 0.5s;
  transition: background-color 0.3s ease;
  font-size: 18px;
  font-weight: 500;
  width: fit-content;
   text-transform: uppercase;
  background-size: 200% auto;
   background-color: var(--color-blue);
    display: block;
  margin-top: 10px;
}

.button:hover {
   background-color: var(--color-fuchsia);
    background-position: right center;
  text-decoration: none;
}

.button:disabled {
  background-color: var(--color-grey);
}

.button:disabled:hover {
  transform: none;
}

form {
  padding: 72px 52px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-direction: column;
   background: linear-gradient(180deg,
   #02a9ea 0%, 
   #140018 70%, 
  #000300 100%); 
}


.form-field {
  padding: 12px 22px;
  background: var(--color-white);
  border-radius: 10px;
  width: 100%;
  margin-top: 6px;
}

.contact-label {
  margin-bottom: 6px;
  color: var(--color-white)
}

.buttons-container {
  align-self: center;
   display: flex;
    gap: 12px
}

.error-message {
  color: var(--color-red);
  text-align: left;
  padding: 6px 22px 12px 22px;
  text-shadow: 0 2px 6px rgba(0,0,0,0.6);
}

.submitted-message {
  color: var(--color-blue);
  padding: 6px 22px 12px 22px;
  font-size: 18px;
}

  .products-list {
   display: flex;
   flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    }

  .product-card {
  border-radius: 10px;
  border: 1px solid var(--color-blue);
  transition: border 0.3s ease;
  max-width: 250px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

 .product-card:hover {
  border: 1px solid var(--color-fuchsia);
  cursor: pointer;
}

.product-card a {
  height: 100%;
}

  
 @media screen and (max-width: 766px) {
    main {
  padding-top: 21vh;
}

    section {
      padding: 15px 0;
      width: 90%
    }
    
    .page-title {
      font-size: 34px;
    } 
  .title {
    font-size: 30px
  } 
  .element-title {
    font-size: 18px;
  } 

  .advantages-list {
    width:80%
  }

  form {
    padding: 20px;
    width: 90vw
  }
  }