    <!-- <div class="home-image-container">
    @for(img of imagesSelected; track $index) {
    <img
      class="home-banner-image"
      [src]="img"
      [alt]="imagesSelected[$index] | alt"
      
    />
    }
  </div> -->

   <div class="home-banner-text">
    <h1 class="page-title">Rótulos personalizados online</h1>
        <h2 class="title">
          Letras de 
          <span class="word-wrapper">
           @for (word of letras; track $index) {
          <span class="word"> 
              {{ ' ' + word }}
          </span>  
            }
          </span>
        </h2>
        <p class="home-banner-cta">Encuentra tus letras y personaliza tu rótulo a tu gusto con nuestro simulador </p>
      
        <app-button
      [buttonText]="'Catálogo'"
      [buttonLink]="'/catalogo'"
    ></app-button>
  </div>


       <video  #videoEl width="600" src="https://res.cloudinary.com/dxuseyfxa/video/upload/v1775727990/Banner_R%C3%B3tulos_1240_x_700_px_fqq3uk.mp4" type="video/mp4" 
        class="banner-img" autoplay loop muted playsinline>
    </video> 
        
  
        <!-- <img fetchpriority="high" class="banner-img" [src]="carouselImages[imageIndex]" 
        [alt]="'rotulos-learoy'" />


        <ul class="carousel-dots">
            <li class="carousel-dot" [class.active]="i === imageIndex" *ngFor="let carouselImage of carouselImages; let i = index" (click)="carouselImageChange(i)"></li>
        </ul> -->


 
   
     