<main>
<form #redsysForm="ngForm" [action]="redirectUrl" method="'POST'">

  <label for="name" class="contact-label">Nombre completo</label>
      <input
        class="form-field"
        placeholder="Nombre"
        type="text"
        id="name"
        name="name"
        required
        [(ngModel)]="checkoutFormData.name"
        #nameField="ngModel"
        [attr.aria-describedby]="nameField.invalid && nameField.touched ? 'name-error' : null"
      />
      @if (nameField.invalid && nameField.touched) {
        <p class="error-message" id="name-error"> El nombre es obligatorio.</p>
      } 
    
  <label for="email" class="contact-label">Correo electrónico</label>
        <input
          class="form-field"
          placeholder="Correo electrónico"
          type="email"
          id="email"
          name="email"
          required
          email
          [(ngModel)]="checkoutFormData.email"
          #emailField="ngModel"
          (ngModelChange)="emailField.control.setErrors(emailValidator(emailField.control))"
          [attr.aria-describedby]="emailField.invalid && emailField.touched && emailField.errors?.['required'] ? 'email-error' : 
            emailField.invalid && emailField.dirty && emailField.errors?.['invalidEmail'] ? 'email-invalid' :
          null"
        />
        @if(emailField.invalid && emailField.touched && emailField.errors?.['required']) {
<p class="error-message" id="email-error">       El correo electrónico es obligatorio.        </p>
        } @else if (emailField.invalid && emailField.dirty && emailField.errors?.['invalidEmail']) {
  <p          class="error-message" id="email-invalid"
        >
          El correo electrónico no es válido. Por favor, revísalo.
        </p>
        }


         <label for="phone" class="contact-label">Teléfono</label>
        <input
          class="form-field"
          placeholder="Teléfono"
          type="text"
          id="phone"
          name="phone"
          required
          [(ngModel)]="checkoutFormData.phone"
          #phoneField="ngModel"
          [attr.aria-describedby]="phoneField.invalid && phoneField.touched ? 'phone-error' : null"
        />
        @if (phoneField.invalid && phoneField.touched) {
<p class="error-message" id="phone-error">El teléfono es obligatorio.</p>
        }
        
        
  <label for="name" class="contact-label">Empresa</label>
      <input
        class="form-field"
        placeholder="Empresa (opcional)"
        type="text"
        id="empresa"
        name="empresa"
        [(ngModel)]="checkoutFormData.empresa"
        #empresaField="ngModel"
        [attr.aria-describedby]="empresaField.invalid && empresaField.touched ? 'empresa-error' : null"
      />

      <label for="name" class="contact-label">Dirección</label>
      <input
        class="form-field"
        placeholder="Dirección"
        type="text"
        id="address"
        name="address"
        required
        [(ngModel)]="checkoutFormData.address"
        #addressField="ngModel"
        [attr.aria-describedby]="addressField.invalid && addressField.touched ? 'address-error' : null"
      />
       @if (addressField.invalid && addressField.touched) {
<p class="error-message" id="address-error">La dirección es obligatoria.</p>
        }

        <input
        class="form-field"
        placeholder="Código Postal"
        type="text"
        id="cp"
        name="cp"
        required
        [(ngModel)]="checkoutFormData.cp"
        #cpField="ngModel"
        [attr.aria-describedby]="cpField.invalid && cpField.touched ? 'cp-error' : null"
      />
       @if (cpField.invalid && cpField.touched) {
<p class="error-message" id="cp-error">El código postal es obligatorio.</p>
        }

        <input
        class="form-field"
        placeholder="Ciudad"
        type="text"
        id="ciudad"
        name="ciudad"
        required
        [(ngModel)]="checkoutFormData.ciudad"
        #ciudadField="ngModel"
        [attr.aria-describedby]="ciudadField.invalid && ciudadField.touched ? 'ciudad-error' : null"
      />
       @if (ciudadField.invalid && ciudadField.touched) {
<p class="error-message" id="ciudad-error">La ciudad es obligatoria.</p>
        }


         <input
        class="form-field"
        placeholder="Provincia"
        type="text"
        id="provincia"
        name="provincia"
        required
        [(ngModel)]="checkoutFormData.provincia"
        #provinciaField="ngModel"
        [attr.aria-describedby]="provinciaField.invalid && provinciaField.touched ? 'provincia-error' : null"
      />
       @if (provinciaField.invalid && provinciaField.touched) {
<p class="error-message" id="provincia-error">La provincia es obligatoria.</p>
        }






        <input name="Ds_SignatureVersion" [value]="signatureVersion" />
        <input name="Ds_MerchantParameters" [value]="merchantParameters" />
        <input name="Ds_Signature" [value]="signature" />

</form>

<button (click)="onSubmit(redsysForm)">Pagar ahora</button>
</main>
