main {
background-color: var(--color-black);
}

h1 {
color: var(--color-white);
}

.cases {
width: 100%;
position: relative
}

 .cases-grid {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
} 

 .case-container {
    flex: 1 1 auto; 
    max-width: calc(33%); 
    display: flex;
    justify-content: center;
} 

 .case-image {
    height: 400px; 
    /* width: 100%; */
object-fit: cover; 
} 

.case-image:hover {
cursor: pointer
} 


.case-image-zoom {
    height: 60vh; 
    width: auto;
    object-fit: cover; 
    margin-top: 10vh;
    border:2px solid var(--color-white)
} 

.xmark {
 margin-top: 11vh;
    margin-left: -48px;
    color: var(--color-white);
}

.xmark:hover {
cursor: pointer;
}

.image-zoom-container {
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    height: 100vh; 
    padding: 12vh;
    display: flex;
    justify-content: center;
   align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.253);
    width: 100vw; 
  } 

  @media screen and (max-width: 766px) {
  .case-container, .case-image {
    max-width: 100%; 
} 
 .case-container {
  pointer-events: none;
  }
}

@media screen and (min-width: 767px) and (max-width: 1890px) {
    .case-image {
      max-width: 100%; 
  }
} 