.cases {
position: relative
}

 .cases-grid {
display: flex;
    flex-wrap: wrap; 
     gap: 20px; 
    padding: 60px 40px 0 40px;
    justify-content: center;  

} 

 .case-container {
    max-width: calc(100%/3 - 20px);  
    display: flex;
    justify-content: center;
    border-radius: 10px;
} 

 .case-image {
    height: 400px;
     width: 100%;
object-fit: cover; 
 border-radius: 10px;
} 

.case-image:hover {
cursor: pointer
} 


.case-image-zoom {
    height: 60vh; 
    width: auto;
    object-fit: cover; 
    margin-top: 10vh;
     border-radius: 10px;
} 

.xmark {
 margin-top: 11vh;
 margin-left: -48px;
 padding: 0 14px;
 font-size: 16px
}

.xmark:hover {
cursor: pointer;
background-color: var(--color-white);
color: var(--color-black)
}

.image-zoom-container {
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    height: 100vh; 
    padding: 12vh;
    display: flex;
    justify-content: center;
   align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.253);
    width: 100vw; 
     border-radius: 10px;
  } 

  @media screen and (max-width: 766px) {
  .case-container, .case-image {
    max-width: 100%; 
} 
 .case-container {
  pointer-events: none;
  }
}

@media screen and (min-width: 767px) and (max-width: 1890px) {
    .case-image {
      max-width: 100%; 
  }
} 